{
  "openapi": "3.1.0",
  "info": {
    "title": "Arker Public VM API",
    "version": "0.2.0",
    "description": "Public VM API contract. Backends expose the same endpoint and wire shapes; backend-specific feature limitations are returned as standard ErrorResponse bodies with code \"unsupported_operation\"."
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://aws-us-west-2.arker.ai"
    }
  ],
  "x-arker-source": "arker-app/shared/arker-api-contract",
  "paths": {
    "/v1/vms": {
      "get": {
        "operationId": "listVms",
        "parameters": [
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Narrow to a single backend region (e.g. `us-west-2`). When omitted,\nthe response aggregates across every configured region.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Narrow to a single backend provider. `aws` returns only\narkerd-managed (host-backed) VMs; `aws-burst` returns only\nLambda-managed VMs. When omitted, both are returned merged.\n",
            "schema": {
              "type": "string",
              "enum": [
                "aws",
                "aws-burst"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VMs visible to the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVmsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVm",
        "responses": {
          "200": {
            "description": "VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteVm",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVmResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/fork": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "forkVm",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forked VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkVmResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Fork a VM. Optional network, disk, and resource overrides may return ErrorResponse code \"unsupported_operation\" on backends that do not support those options."
      }
    },
    "/v1/vms/{id}/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "runVm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Run a command. Foreground command execution is required; optional background, session, resource, network, signal, and release behavior may return ErrorResponse code \"unsupported_operation\"."
      }
    },
    "/v1/vms/{id}/runs/{run_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getRun",
        "responses": {
          "200": {
            "description": "Run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Get background run status. Backends without background runs return ErrorResponse code \"unsupported_operation\"."
      },
      "delete": {
        "operationId": "cancelRun",
        "responses": {
          "200": {
            "description": "Cancel result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Cancel a background run. Backends without background runs return ErrorResponse code \"unsupported_operation\"."
      }
    },
    "/v1/vms/{id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "responses": {
          "200": {
            "description": "VM sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "List persistent sessions. Backends without persistent sessions return ErrorResponse code \"unsupported_operation\"."
      },
      "post": {
        "operationId": "createSession",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a persistent session. Backends without persistent sessions return ErrorResponse code \"unsupported_operation\"."
      }
    },
    "/v1/vms/{id}/sessions/{sid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "delete": {
        "operationId": "deleteSession",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Delete a persistent session. Backends without persistent sessions return ErrorResponse code \"unsupported_operation\"."
      }
    },
    "/v1/vms/{id}/resize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "resizeVm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resize result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResizeResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Resize VM resources. Backends without VM resize support return ErrorResponse code \"unsupported_operation\"."
      }
    },
    "/v1/vms/{id}/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "syncVm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Multi-op endpoint over the VM's filesystem.\n\n- `read` reads a file from the VM filesystem.\n- `write` writes one or more files (inline chunks or presigned uploads).\n- `create` ensures a `Filesystem` exists (creating one if necessary, when\n  `create_if_missing: true`) and bind-mounts it into the VM at `mount_path`.\n  Bidirectional by virtue of being a mount \u2014 there is no separate\n  sync-direction parameter.\n"
      }
    },
    "/v1/filesystems": {
      "get": {
        "operationId": "listFilesystems",
        "responses": {
          "200": {
            "description": "Org-scoped persistent filesystems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesystemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "List persistent filesystems owned by the authenticated caller's\norganization. Filesystems are created implicitly via\n`POST /v1/vms/{id}/sync` with `op: \"create\"` and persist independently\nof any single VM.\n"
      }
    },
    "/v1/filesystems/{filesystem_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FilesystemId"
        }
      ],
      "delete": {
        "operationId": "deleteFilesystem",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesystemResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Delete a persistent filesystem. The filesystem must not be mounted by\nany VM at the time of deletion. Backends without filesystem persistence\nreturn ErrorResponse code \"unsupported_operation\".\n"
      }
    }
  },
  "components": {
    "parameters": {
      "VmId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "FilesystemId": {
        "name": "filesystem_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "API error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedOperation": {
        "description": "The request is valid, but this backend does not support the requested operation or option. The response body uses ErrorResponse with code \"unsupported_operation\".",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unsupportedOperation": {
                "summary": "Unsupported backend feature",
                "value": {
                  "code": "unsupported_operation",
                  "message": "background runs are not supported on this backend"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable machine-readable error code. \"unsupported_operation\" means the backend does not implement the requested optional feature.",
            "examples": [
              "unsupported_operation"
            ]
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        },
        "description": "Standard API error. Backends use code \"unsupported_operation\" when the request is valid but names an operation or option this backend cannot support."
      },
      "VmState": {
        "type": "string",
        "enum": [
          "idle",
          "running"
        ],
        "description": "Unified lifecycle state for a VM or a Session. `idle` means the\nVM/session exists but no command is currently executing; `running`\nmeans a command is in flight.\n"
      },
      "SessionState": {
        "$ref": "#/components/schemas/VmState"
      },
      "RunState": {
        "type": "string",
        "enum": [
          "running",
          "completed",
          "cancelled"
        ],
        "description": "Unified lifecycle state for a Run. `cancelled` covers both client\ncancellation and server-side abort. Failure is NOT a state \u2014 failed\nruns land in `completed` with a non-zero `exit_code`.\n"
      },
      "TunnelState": {
        "type": "string",
        "enum": [
          "pending",
          "active",
          "closed"
        ]
      },
      "NetworkPolicy": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/NetworkPolicyOpen"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyBlocked"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyAllow"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyBlock"
          }
        ]
      },
      "NetworkPolicyOpen": {
        "type": "object",
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "open"
          }
        }
      },
      "NetworkPolicyBlocked": {
        "type": "object",
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "blocked"
          }
        }
      },
      "NetworkPolicyAllow": {
        "type": "object",
        "required": [
          "type",
          "allow"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "allow"
          },
          "allow": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NetworkPolicyBlock": {
        "type": "object",
        "required": [
          "type",
          "block"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "block"
          },
          "block": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NetworkPolicyInput": {
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "type": "string"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicy"
          }
        ]
      },
      "ForkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkPolicyInput"
              },
              {
                "type": "null"
              }
            ]
          },
          "disk": {
            "type": "boolean",
            "default": true
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "max_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "durable": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "session_id",
          "state",
          "cwd"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": "string"
          },
          "session_idx": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "state": {
            "$ref": "#/components/schemas/SessionState"
          },
          "cwd": {
            "type": "string"
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Wall-clock timestamp the session was most recently started."
          }
        }
      },
      "ListSessionsResponse": {
        "type": "object",
        "required": [
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          }
        }
      },
      "Vm": {
        "type": "object",
        "required": [
          "vm_id",
          "owner_id",
          "created_at",
          "state",
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "type": "string"
          },
          "owner_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_golden": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/VmState"
          },
          "region": {
            "description": "Backend region the VM lives in (e.g. `us-west-2`). With `provider`\nthis fully addresses the VM's routing target:\n`https://{provider}-{region}.arker.ai/...`.\n",
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "description": "Backend provider \u2014 `aws` for arkerd-managed host-backed VMs,\n`aws-burst` for Lambda-managed VMs. Together with `region`\nthis is enough to construct the per-VM backend URL.\n",
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Wall-clock timestamp the VM was most recently started (cold-boot or restored from snapshot)."
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          }
        }
      },
      "ListVmsResponse": {
        "type": "object",
        "required": [
          "vms"
        ],
        "additionalProperties": false,
        "properties": {
          "vms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          }
        }
      },
      "ForkVmResponse": {
        "type": "object",
        "required": [
          "vm_id",
          "owner_id",
          "created_at",
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "type": "string"
          },
          "owner_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TunnelStatus"
            }
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "host_id": {
            "description": "Identifier of the worker host that owns this VM. Set by workers so a router can populate its DbCache without a PlanetScale lookup. Optional for backwards compatibility \u2014 single-host deployments and pre-split clients may omit / ignore it.\n",
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteVmResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DeleteSessionResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "RunRequest": {
        "type": "object",
        "required": [
          "command"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional persistent session id. Backends without persistent sessions return unsupported_operation when this is requested."
          },
          "session_idx": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Optional session selector by integer index instead of ULID. Mutually exclusive with session_id."
          },
          "command": {
            "type": "string"
          },
          "background": {
            "type": "boolean",
            "default": false,
            "description": "Run asynchronously. Backends without background execution return unsupported_operation and must not silently run the command synchronously."
          },
          "timeout": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "end_symbol": {
            "type": [
              "string",
              "null"
            ],
            "default": "auto"
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Optional per-run resource override. Backends without resource override support return unsupported_operation when this is requested."
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional network/tunnel request. Backends without networking support return unsupported_operation when this is requested."
          },
          "release": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional release selection. Backends without release selection support return unsupported_operation when this is requested."
          },
          "signal": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional session signal. Backends without signal support return unsupported_operation when this is requested."
          }
        },
        "description": "Foreground command execution is the portable baseline. Optional session, background, resource, network, signal, and release fields may return ErrorResponse code \"unsupported_operation\" on backends that do not support them."
      },
      "NetworkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InboundRequest"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "InboundRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortRequest"
            },
            "default": {}
          }
        }
      },
      "InboundPortRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "visibility": {
            "type": "string",
            "default": "private"
          },
          "protocol": {
            "type": "string",
            "default": "http"
          }
        }
      },
      "RunResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CompletedRunResponse"
          },
          {
            "$ref": "#/components/schemas/BackgroundRunResponse"
          }
        ],
        "description": "Successful run result. BackgroundRunResponse is returned only by backends that support background runs; unsupported modes return ErrorResponse code \"unsupported_operation\"."
      },
      "CompletedRunResponse": {
        "type": "object",
        "required": [
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string"
          },
          "exit_code": {
            "type": "integer"
          },
          "dispatch": {
            "type": [
              "string",
              "null"
            ],
            "description": "Which dispatch backend ran this command (\"brush\" or \"fc\"). Optional."
          }
        }
      },
      "BackgroundRunResponse": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TunnelStatus"
            },
            "default": []
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkStatus"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Run": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code",
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding",
          "tunnels"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string"
          },
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TunnelStatus"
            }
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "retry_count": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          }
        }
      },
      "RunSummary": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "description": "Listing record for `GET /v1/vms/{id}/runs`. Every field is also\npresent on `Run` with the same name and type \u2014 `RunSummary` is a\nstrict field-subset of `Run`.\n"
      },
      "ListRunsResponse": {
        "type": "object",
        "required": [
          "runs"
        ],
        "additionalProperties": false,
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunSummary"
            }
          }
        }
      },
      "NetworkStatus": {
        "type": "object",
        "required": [
          "inbound"
        ],
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "$ref": "#/components/schemas/InboundStatus"
          }
        }
      },
      "InboundStatus": {
        "type": "object",
        "required": [
          "ports"
        ],
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortStatus"
            }
          }
        }
      },
      "InboundPortStatus": {
        "type": "object",
        "required": [
          "requested",
          "observed",
          "effective",
          "protocol"
        ],
        "additionalProperties": false,
        "properties": {
          "requested": {
            "type": "string"
          },
          "observed": {
            "type": "string"
          },
          "effective": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "TunnelStatus": {
        "type": "object",
        "required": [
          "port",
          "visibility",
          "protocol",
          "state"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string",
            "default": ""
          },
          "port": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535
          },
          "visibility": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/TunnelState"
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CancelRunResponse": {
        "type": "object",
        "required": [
          "cancelled"
        ],
        "additionalProperties": false,
        "properties": {
          "cancelled": {
            "type": "boolean"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "cwd": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "description": "Create a persistent session. Backends without persistent sessions return unsupported_operation."
      },
      "ResizeRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        },
        "description": "Resize VM resources. Backends without VM resize support return unsupported_operation."
      },
      "ResizeResponse": {
        "type": "object",
        "required": [
          "ok"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "Filesystem": {
        "type": "object",
        "required": [
          "filesystem_id",
          "name",
          "owner_id",
          "created_at"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystem_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        },
        "description": "Org-scoped persistent filesystem. Created implicitly via\n`POST /v1/vms/{id}/sync { op: \"create\", ... }` and managed via\n`GET /v1/filesystems` and `DELETE /v1/filesystems/{filesystem_id}`.\n"
      },
      "ListFilesystemsResponse": {
        "type": "object",
        "required": [
          "filesystems"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filesystem"
            }
          }
        }
      },
      "DeleteFilesystemResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "SyncRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncReadRequest"
          },
          {
            "$ref": "#/components/schemas/SyncWriteRequest"
          },
          {
            "$ref": "#/components/schemas/SyncCreateRequest"
          }
        ]
      },
      "SyncReadRequest": {
        "type": "object",
        "required": [
          "op",
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "op": {
            "const": "read"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "SyncWriteRequest": {
        "type": "object",
        "required": [
          "op",
          "writes"
        ],
        "additionalProperties": false,
        "properties": {
          "op": {
            "const": "write"
          },
          "writes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteEntry"
            }
          }
        }
      },
      "SyncCreateRequest": {
        "type": "object",
        "required": [
          "op",
          "mount_path"
        ],
        "additionalProperties": false,
        "properties": {
          "op": {
            "const": "create"
          },
          "filesystem_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Address an existing filesystem by ID. Mutually exclusive with filesystem_name + create_if_missing."
          },
          "filesystem_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Address a filesystem by user-assigned name within the calling org. Combined with create_if_missing=true will create the filesystem if no filesystem with that name exists."
          },
          "create_if_missing": {
            "type": "boolean",
            "default": false
          },
          "mount_path": {
            "type": "string",
            "description": "VM-side path to mount the filesystem under."
          }
        },
        "description": "Ensure a filesystem exists (creating one if requested) and bind-mount\nit into this VM at `mount_path`. Bidirectional by virtue of being a\nmount.\n"
      },
      "SyncWriteEntry": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWrite"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequest"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteCommit"
          }
        ]
      },
      "SyncChunkWrite": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id",
          "content",
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteRequest": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned": {
            "type": "boolean"
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteCommit": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SyncResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncReadResponse"
          },
          {
            "$ref": "#/components/schemas/SyncWriteResponse"
          },
          {
            "$ref": "#/components/schemas/SyncCreateResponse"
          }
        ]
      },
      "SyncCreateResponse": {
        "type": "object",
        "required": [
          "ok",
          "op",
          "filesystem",
          "mount_path"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "op": {
            "const": "create"
          },
          "filesystem": {
            "$ref": "#/components/schemas/Filesystem"
          },
          "mount_path": {
            "type": "string"
          }
        }
      },
      "SyncReadResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncReadInlineResponse"
          },
          {
            "$ref": "#/components/schemas/SyncReadPresignedResponse"
          }
        ]
      },
      "SyncReadInlineResponse": {
        "type": "object",
        "required": [
          "ok",
          "op",
          "path",
          "size",
          "content",
          "encoding"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "op": {
            "const": "read"
          },
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "content": {
            "type": "string"
          },
          "encoding": {
            "type": "string"
          }
        }
      },
      "SyncReadPresignedResponse": {
        "type": "object",
        "required": [
          "ok",
          "op",
          "path",
          "size",
          "presigned_url",
          "expires_in",
          "method"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "op": {
            "const": "read"
          },
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          }
        }
      },
      "SyncWriteResponse": {
        "type": "object",
        "required": [
          "ok",
          "op",
          "results"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "op": {
            "const": "write"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteResult"
            }
          }
        }
      },
      "SyncWriteResult": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWriteResult"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequestResult"
          },
          {
            "$ref": "#/components/schemas/SyncCommitWriteResult"
          }
        ]
      },
      "SyncChunkWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "received_bytes",
          "ranges",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "received_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "ranges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncByteRange"
            }
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncPresignedWriteRequestResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned_url",
          "upload_id",
          "expires_in",
          "method",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "upload_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncCommitWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncByteRange": {
        "type": "object",
        "required": [
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "SyncEntryError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}