{
  "openapi": "3.1.0",
  "info": {
    "title": "Arker Public VM API",
    "version": "0.3.0",
    "description": "Public VM and control-plane API contract. Backend VM endpoints expose the same wire\nshapes; backend-specific feature limitations are returned as\n`ErrorResponse` with `code: \"unsupported_operation\"`.\n"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://aws-us-west-2.arker.ai"
    }
  ],
  "x-arker-source": "arker-app/shared/arker-api-contract",
  "paths": {
    "/v1/fork": {
      "post": {
        "operationId": "fork",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a new VM by forking from an image, an existing VM ID, or\na VM name within an org. Exactly one of `source_image`,\n`source_vm_id`, or `source_vm_name` must be set. Forking a VM\nowned by another org requires that VM to be `public: true`.\n"
      }
    },
    "/v1/vms": {
      "get": {
        "operationId": "listVms",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Narrow to a single backend region (e.g. `us-west-2`). When omitted, the response aggregates across every configured region.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Narrow to a single backend provider. `aws` returns only arkerd-managed (host-backed) VMs; `aws-burst` returns only Lambda-managed VMs. When omitted, both are returned merged.",
            "schema": {
              "type": "string",
              "enum": [
                "aws",
                "aws-burst"
              ]
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Filter by VM lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/VmState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "description": "ISO 8601 timestamp; include only VMs that most recently started at or after this time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "description": "ISO 8601 timestamp; include only VMs that most recently started at or before this time.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VMs visible to the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVmsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listOrgRuns",
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "required": false,
            "description": "Unix epoch seconds; include runs at or after this time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "until",
            "required": false,
            "description": "Unix epoch seconds; include runs before this time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "vm",
            "required": false,
            "description": "Single VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vms",
            "required": false,
            "description": "Comma-separated VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Backend region filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Provider filter. `aws` maps to host-backed runs; `aws-burst` maps to Lambda-backed runs.",
            "schema": {
              "type": "string",
              "enum": [
                "aws",
                "aws-burst"
              ]
            }
          },
          {
            "in": "query",
            "name": "source",
            "required": false,
            "description": "Raw run metrics source filter.",
            "schema": {
              "type": "string",
              "enum": [
                "cf",
                "arkerd"
              ]
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "description": "Free-text search across run metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Number of rows to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "lite",
            "required": false,
            "description": "When true, omit large input/output previews where supported by the backend.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "runtime",
            "required": false,
            "description": "Runtime filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endpoint",
            "required": false,
            "description": "Endpoint category filter.",
            "schema": {
              "type": "string",
              "enum": [
                "run",
                "fork",
                "sync"
              ]
            }
          },
          {
            "in": "query",
            "name": "actions",
            "required": false,
            "description": "Comma-separated action filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Comma-separated status class filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status_min",
            "required": false,
            "description": "Minimum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status_max",
            "required": false,
            "description": "Maximum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "Sort column.",
            "schema": {
              "type": "string",
              "enum": [
                "when",
                "status",
                "path",
                "total",
                "queue",
                "your_code",
                "runtime"
              ]
            }
          },
          {
            "in": "query",
            "name": "dir",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs visible to the authenticated caller across VMs, providers, and regions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Control-plane listing of run activity visible to the authenticated caller across VMs, providers, and regions."
      }
    },
    "/v1/vms/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVm",
        "responses": {
          "200": {
            "description": "VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteVm",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVmResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/resize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "resizeVm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resize result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResizeResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Resize VM resources. Per-run resource overrides can also be\npassed via `RunRequest` and are independent of this endpoint;\nthis endpoint sets the VM's baseline allocation.\n"
      }
    },
    "/v1/vms/{id}/runs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createRun",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Run a command. Foreground execution is the portable baseline.\nOptional `background`, `session_id`, `network`, `signal`,\n`acquire`/`release`, and per-run resource overrides may return\n`unsupported_operation` on backends that don't support them.\n"
      },
      "get": {
        "operationId": "listRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RunState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "completed_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs/{run_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getRun",
        "responses": {
          "200": {
            "description": "Run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "cancelRun",
        "responses": {
          "200": {
            "description": "Cancel result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SessionState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VM sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSession",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "getSession",
        "responses": {
          "200": {
            "description": "Session details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        },
        {
          "name": "cols",
          "in": "query",
          "required": false,
          "schema": { "type": "integer", "default": 80 },
          "description": "Initial terminal width in columns."
        },
        {
          "name": "rows",
          "in": "query",
          "required": false,
          "schema": { "type": "integer", "default": 24 },
          "description": "Initial terminal height in rows."
        },
        {
          "name": "command",
          "in": "query",
          "required": false,
          "schema": { "type": "string" },
          "description": "Single executable path to launch (no shell-splitting). Defaults to the login shell."
        },
        {
          "name": "persist",
          "in": "query",
          "required": false,
          "schema": { "type": "boolean", "default": true },
          "description": "E2B-style persistence. When true (default), disconnecting keeps the shell running so the same session_id can RECONNECT to it (recent scrollback is replayed); when false the shell is torn down on disconnect. {\"type\":\"kill\"} or the server idle TTL destroy a persistent shell."
        },
        {
          "name": "ticket",
          "in": "query",
          "required": false,
          "schema": { "type": "string" },
          "description": "Browser auth: a short-lived ticket from POST .../pty-ticket, used in place of the Authorization header (which a browser WebSocket cannot set)."
        }
      ],
      "get": {
        "operationId": "attachSessionPty",
        "summary": "Open an interactive PTY (WebSocket upgrade)",
        "description": "Upgrades to a WebSocket carrying an interactive pseudo-terminal in the VM, reusing the same in-guest PTY as SSH. Auth on the upgrade is a Bearer key (a key may only attach to its own org's VMs) OR a ?ticket= for browsers. Reopening with the same session_id RECONNECTS to the same running shell when persist=true (scrollback replayed). Wire format: server→client Binary frames are raw terminal output (ANSI escapes/colors intact); client→server Binary frames are stdin bytes (control chars like 0x03=Ctrl-C raise SIGINT via the guest tty); client→server Text frames are JSON control: {\"type\":\"resize\",\"cols\":N,\"rows\":M}, {\"type\":\"kill\"}, {\"type\":\"ping\"}. A plain socket close DETACHES (persist) or tears down; {\"type\":\"kill\"} always destroys. Caps: one live attachment per session, ARKER_PTY_MAX_PER_VM per VM, ARKER_PTY_MAX_PER_ORG per org (429 past limits); oversized stdin (>64KiB) or control (>4KiB) frames close the connection; idle (ARKER_PTY_IDLE_SECS) closes the connection.",
        "responses": {
          "101": {
            "description": "Switching Protocols — the WebSocket PTY stream is established."
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty-ticket": {
      "parameters": [
        { "$ref": "#/components/parameters/VmId" },
        { "$ref": "#/components/parameters/SessionId" }
      ],
      "post": {
        "operationId": "mintSessionPtyTicket",
        "summary": "Mint a browser PTY ticket",
        "description": "Returns a short-lived (5 min, multi-use) ticket for opening the PTY WebSocket from a browser, which cannot send an Authorization header. Bearer-authed; the caller must own the VM. Open wss://.../pty?ticket=<ticket> with it. The ticket is a stateless HMAC bound to (org, vm, session), so it validates on any node.",
        "responses": {
          "200": {
            "description": "Ticket minted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ticket", "expires_in"],
                  "properties": {
                    "ticket": { "type": "string" },
                    "expires_in": { "type": "integer", "description": "Seconds until expiry." }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" },
          "default": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/v1/vms/{id}/syncs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createSync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created sync.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a persistent sync: ensure a Filesystem exists (creating\none if requested) and bind-mount it into this VM at `path`.\nBidirectional by virtue of being a mount — there is no separate\nsync-direction parameter. Returns `ErrorResponse` code\n`conflict` if a sync already exists at `path`.\n"
      },
      "get": {
        "operationId": "listSyncs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "filesystem_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Syncs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSyncsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs/{sync_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SyncId"
        }
      ],
      "delete": {
        "operationId": "deleteSync",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSyncResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SyncReadRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SyncWriteRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Read or write result, matching the request op.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SyncReadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SyncWriteResponse"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Read or write files in the VM filesystem. Op-discriminated:\n`{op:\"read\",path}` reads a file (inline content for small files, a\npresigned GET URL for large ones); `{op:\"write\",writes:[...]}` writes,\neach entry an inline chunk or a presigned-upload step. Binding a\nfilesystem into the VM is the separate `/v1/vms/{id}/syncs` resource.\n"
      }
    },
    "/v1/vms/{id}/tunnels": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listTunnels",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TunnelState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tunnels on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTunnelsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createTunnel",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TunnelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created tunnel. `auth_token` is returned only once for authenticated tunnels.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tunnel"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/filesystems": {
      "get": {
        "operationId": "listFilesystems",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "name_prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org-scoped persistent filesystems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesystemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createFilesystem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilesystemCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created filesystem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/filesystems/{filesystem_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FilesystemId"
        }
      ],
      "get": {
        "operationId": "getFilesystem",
        "responses": {
          "200": {
            "description": "Filesystem details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesystem",
        "responses": {
          "200": {
            "description": "Delete result. The filesystem must not be mounted by any VM (no remaining `Sync` referencing it).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesystemResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/tunnels/{key}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/TunnelKey"
        }
      ],
      "get": {
        "operationId": "getTunnel",
        "responses": {
          "200": {
            "description": "Tunnel details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tunnel"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteTunnel",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTunnelResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "VmId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SyncId": {
        "name": "sync_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "FilesystemId": {
        "name": "filesystem_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor returned by the previous page's `next_cursor`.",
        "schema": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Max items per page. Backend caps may apply.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        }
      },
      "TunnelKey": {
        "name": "key",
        "in": "path",
        "required": true,
        "description": "Recoverable tunnel identity returned as `Tunnel.tunnel_key` and embedded in tunnel URLs.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Error": {
        "description": "API error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedOperation": {
        "description": "The request is valid, but this backend does not support the requested operation or option.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unsupportedOperation": {
                "summary": "Unsupported backend feature",
                "value": {
                  "code": "unsupported_operation",
                  "message": "background runs are not supported on this backend"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "enum": [
          "unsupported_operation",
          "bad_request",
          "unauthorized",
          "forbidden",
          "not_found",
          "conflict",
          "payload_too_large",
          "not_implemented",
          "resource_pressure",
          "internal",
          "unavailable",
          "network_error"
        ],
        "description": "Stable machine-readable error code. `unsupported_operation` means the backend doesn't implement the requested optional feature."
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "VmState": {
        "type": "string",
        "enum": [
          "idle",
          "running"
        ],
        "description": "Unified lifecycle state for a VM or a Session. `idle` means no command is currently executing; `running` means a command is in flight."
      },
      "SessionState": {
        "$ref": "#/components/schemas/VmState"
      },
      "RunState": {
        "type": "string",
        "enum": [
          "running",
          "completed",
          "failed",
          "cancelled"
        ],
        "description": "Lifecycle state for a Run. `running` = command in flight.\n`completed` = the command ran to completion; `exit_code` conveys\nsuccess (0) or a non-zero program exit (a non-zero exit is still\n`completed`). `failed` = the platform could not run or finish the\ncommand (host died, evicted mid-run, exec error); `fail_reason`\nexplains why, distinct from the program's `stderr`. `cancelled` =\ncancelled by the client.\n"
      },
      "TunnelState": {
        "type": "string",
        "enum": [
          "starting",
          "open",
          "closed"
        ],
        "description": "`starting` = backend is allocating the tunnel; `open` = accepting\nconnections; `closed` = torn down or never came up.\n"
      },
      "ResourceKind": {
        "type": "string",
        "enum": [
          "cpu",
          "memory",
          "disk"
        ]
      },
      "NetworkPolicy": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/NetworkPolicyOpen"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyBlocked"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyAllow"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyBlock"
          }
        ]
      },
      "NetworkPolicyOpen": {
        "type": "object",
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "open"
          }
        }
      },
      "NetworkPolicyBlocked": {
        "type": "object",
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "blocked"
          }
        }
      },
      "NetworkPolicyAllow": {
        "type": "object",
        "required": [
          "type",
          "allow"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "allow"
          },
          "allow": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NetworkPolicyBlock": {
        "type": "object",
        "required": [
          "type",
          "block"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "block"
          },
          "block": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NetworkPolicyInput": {
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "type": "string"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicy"
          }
        ]
      },
      "ForkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Global VM identifier. Org is inferred from the row."
          },
          "source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name within an org. Defaults `source_org_id` to the caller's org. A different org must be either the Arker org (for the public goldens `arkuntu` / `ubuntu`) or one with a `public: true` VM by that name."
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional explicit org context for `source_vm_name`. SDK auto-fills the Arker org when forking the public goldens."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional name for the new VM, scoped to the caller's org."
          },
          "public": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Make the new VM publicly forkable from other orgs."
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkPolicyInput"
              },
              {
                "type": "null"
              }
            ]
          },
          "disk": {
            "type": "boolean",
            "default": true
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "max_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "durable": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "tunnel": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TunnelRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional VM-scoped tunnel customization. Omitting it allocates an open any-port tunnel where supported."
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "session_id",
          "state",
          "cwd"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": "string"
          },
          "session_idx": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "state": {
            "$ref": "#/components/schemas/SessionState"
          },
          "cwd": {
            "type": "string"
          },
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional environment-variable overrides for this session."
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "ListSessionsResponse": {
        "type": "object",
        "required": [
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Vm": {
        "type": "object",
        "required": [
          "vm_id",
          "owner_org_id",
          "created_at",
          "public",
          "state",
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "type": "string"
          },
          "owner_org_id": {
            "type": "string",
            "description": "Org that owns this VM."
          },
          "created_at": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name, scoped to `owner_org_id`."
          },
          "public": {
            "type": "boolean",
            "description": "When `true`, other orgs can fork this VM (but cannot run on it)."
          },
          "root_source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of the root (deepest-ancestor) source VM, if this VM was created by a chain of forks. None for VMs forked directly from an image."
          },
          "root_source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the root source VM. Populated together with `root_source_vm_id`."
          },
          "state": {
            "$ref": "#/components/schemas/VmState"
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "network": {
            "$ref": "#/components/schemas/NetworkPolicy",
            "description": "Effective VM fork-time egress policy."
          },
          "max_vcpus": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Hard vCPU ceiling for a fork of this VM (KVM slot count). Requesting more fails the run."
          },
          "max_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Hard memory ceiling (MiB) a fork can hotplug up to."
          },
          "min_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Non-hotpluggable base memory (MiB)."
          },
          "worker_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Worker host that owns this VM. Used by routers to populate caches without a fresh PlanetScale lookup."
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tunnel"
            }
          }
        }
      },
      "ListVmsResponse": {
        "type": "object",
        "required": [
          "vms"
        ],
        "additionalProperties": false,
        "properties": {
          "vms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteVmResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DeleteSessionResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "RunRequest": {
        "type": "object",
        "required": [
          "command"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "session_idx": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "command": {
            "type": "string"
          },
          "background": {
            "type": "boolean",
            "default": false
          },
          "timeout": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "end_symbol": {
            "type": [
              "string",
              "null"
            ],
            "default": "auto"
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "acquire": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to ensure are\npre-allocated (warm) before the run starts. Values: `cpu`,\n`memory`, `disk`. Example: `\"cpu,memory\"`.\n"
          },
          "release": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to release after the run\nfinishes. Values: `cpu`, `memory`, `disk`. `\"cpu\"` frees\nvCPU but keeps memory hot for the next run on this VM;\n`\"cpu,memory,disk\"` is a full release (closest to a\nsuspend).\n"
          },
          "signal": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "NetworkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InboundRequest"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "InboundRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortRequest"
            },
            "default": {}
          }
        }
      },
      "InboundPortRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "visibility": {
            "type": "string",
            "default": "private"
          },
          "protocol": {
            "type": "string",
            "default": "http"
          }
        }
      },
      "RunResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CompletedRunResponse"
          },
          {
            "$ref": "#/components/schemas/BackgroundRunResponse"
          }
        ]
      },
      "CompletedRunResponse": {
        "type": "object",
        "required": [
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "description": "The run's own id. Present for executed runs; absent for operation acks (release/signal) with no run record.",
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "description": "Lifecycle state — \"completed\" for this shape. Read this (not the variant) for completion, uniformly with the run-status (`Run`) shape.",
            "type": "string"
          },
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string",
            "description": "TODO(encoding-normalize): goal is to always emit utf-8 from\nevery source so this field becomes unnecessary. Until then\nthe SDK uses it to decode.\n"
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string"
          },
          "exit_code": {
            "type": "integer"
          },
          "dispatch": {
            "type": [
              "string",
              "null"
            ]
          },
          "memory_requested_mib": {
            "description": "ARK-107: requested total memory (MiB) when this run carried an explicit memory override. Absent when the run had no memory override.",
            "type": [
              "integer",
              "null"
            ]
          },
          "memory_achieved_mib": {
            "description": "ARK-107: achieved total memory (MiB) after the run's resize. Memory shrink is best-effort, so this can exceed memory_requested_mib when guest pages are pinned. Absent when the run had no memory override.",
            "type": [
              "integer",
              "null"
            ]
          },
          "memory_partial": {
            "description": "ARK-107: true when the run's memory shrink was partial (achieved differs from requested beyond the virtio-mem block granularity). The command still ran at the achieved footprint (best-effort); this flags the gap instead of a silent success. Defaults false.",
            "type": "boolean"
          }
        }
      },
      "BackgroundRunResponse": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "state": {
            "description": "Lifecycle state — \"running\" for a backgrounded run.",
            "type": "string"
          }
        }
      },
      "Run": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code",
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "fail_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "System failure explanation when `state` is `failed` (e.g. \"host died:&nbsp;<id>\", \"evicted mid-run\"). Distinct from `stderr`, which is the program's own error output. Null for runs that ran to completion."
          },
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string"
          },
          "retry_count": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "RunSummary": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "fail_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "System failure explanation when `state` is `failed` — see `Run.fail_reason`. Distinct from the program's `stderr`."
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "ListRunsResponse": {
        "type": "object",
        "required": [
          "runs"
        ],
        "additionalProperties": false,
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunSummary"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "OrgRunListRow": {
        "type": "object",
        "required": [
          "source",
          "t_ms",
          "request_id",
          "run_id",
          "vm_id",
          "session_id",
          "region",
          "status",
          "total_ms",
          "queue_ms",
          "lambda_call_ms",
          "lambda_duration_ms",
          "executor_duration_ms",
          "executor_kind",
          "executor_cpu_ms",
          "executor_mem_mb",
          "lambda_cpu_ms",
          "lambda_mem_mb",
          "vm_vcpus",
          "vm_memory_mib",
          "path",
          "method",
          "command",
          "source_vm_id",
          "exit_code",
          "endpoint",
          "api_key_prefix",
          "body_bytes_in",
          "body_bytes_out",
          "body_in",
          "body_out"
        ],
        "additionalProperties": false,
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "cf",
              "arkerd"
            ]
          },
          "t_ms": {
            "type": "integer"
          },
          "request_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "vm_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "total_ms": {
            "type": "number"
          },
          "queue_ms": {
            "type": "number"
          },
          "lambda_call_ms": {
            "type": "number"
          },
          "lambda_duration_ms": {
            "type": "integer"
          },
          "executor_duration_ms": {
            "type": "integer"
          },
          "executor_kind": {
            "type": "string"
          },
          "executor_cpu_ms": {
            "type": "integer"
          },
          "executor_mem_mb": {
            "type": "integer"
          },
          "lambda_cpu_ms": {
            "type": "integer"
          },
          "lambda_mem_mb": {
            "type": "integer"
          },
          "vm_vcpus": {
            "type": "integer"
          },
          "vm_memory_mib": {
            "type": "integer"
          },
          "path": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "source_vm_id": {
            "type": "string"
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "endpoint": {
            "type": "string"
          },
          "api_key_prefix": {
            "type": "string"
          },
          "body_bytes_in": {
            "type": "integer"
          },
          "body_bytes_out": {
            "type": "integer"
          },
          "body_in": {
            "type": "string"
          },
          "body_out": {
            "type": "string"
          }
        }
      },
      "ListOrgRunsResponse": {
        "type": "object",
        "required": [
          "since",
          "until",
          "limit",
          "offset",
          "lite",
          "rows"
        ],
        "additionalProperties": false,
        "properties": {
          "since": {
            "type": "integer"
          },
          "until": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "lite": {
            "type": "boolean"
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgRunListRow"
            }
          }
        }
      },
      "NetworkStatus": {
        "type": "object",
        "required": [
          "inbound"
        ],
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "$ref": "#/components/schemas/InboundStatus"
          }
        }
      },
      "InboundStatus": {
        "type": "object",
        "required": [
          "ports"
        ],
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortStatus"
            }
          }
        }
      },
      "InboundPortStatus": {
        "type": "object",
        "required": [
          "requested",
          "observed",
          "effective",
          "protocol"
        ],
        "additionalProperties": false,
        "properties": {
          "requested": {
            "type": "string"
          },
          "observed": {
            "type": "string"
          },
          "effective": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Tunnel": {
        "type": "object",
        "required": [
          "vm_id",
          "port",
          "visibility",
          "protocol",
          "state"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "type": "string",
            "description": "The VM this tunnel belongs to. Always populated so flat tunnel listings work without restructuring."
          },
          "port": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535,
            "description": "Unique-per-VM identifier."
          },
          "run_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The Run that opened this tunnel, if any. VM-scoped tunnels created at fork time or via `POST /vms/{id}/tunnels` have `run_id: null`."
          },
          "visibility": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/TunnelState"
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          },
          "tunnel_key": {
            "type": [
              "string",
              "null"
            ],
            "description": "Recoverable tunnel identity embedded in URLs (`p{port}-{key}`). Not a secret. Present on VM-scoped tunnel responses."
          },
          "auth_mode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "open",
              "authenticated",
              null
            ],
            "description": "`open` or `authenticated` for VM-scoped tunnels."
          },
          "auth_token": {
            "type": [
              "string",
              "null"
            ],
            "description": "One-time bearer secret returned only when allocating an authenticated tunnel; never echoed on listings."
          }
        }
      },
      "ListTunnelsResponse": {
        "type": "object",
        "required": [
          "tunnels"
        ],
        "additionalProperties": false,
        "properties": {
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tunnel"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteTunnelResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "CancelRunResponse": {
        "type": "object",
        "required": [
          "cancelled"
        ],
        "additionalProperties": false,
        "properties": {
          "cancelled": {
            "type": "boolean"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "cwd": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ResizeRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "ResizeResponse": {
        "type": "object",
        "required": [
          "resized"
        ],
        "additionalProperties": false,
        "properties": {
          "resized": {
            "type": "boolean"
          },
          "memory_requested_mib": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Requested total memory (MiB), present only when the request carried memory_mib."
          },
          "memory_achieved_mib": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Achieved total memory (MiB). virtio-mem unplug is best-effort, so this can exceed memory_requested_mib when guest pages are pinned."
          },
          "memory_partial": {
            "type": "boolean",
            "description": "True when a memory target was requested but the runtime could not reach it (achieved differs from requested beyond virtio-mem block granularity). Treat as target-not-met."
          }
        }
      },
      "Sync": {
        "type": "object",
        "required": [
          "sync_id",
          "vm_id",
          "filesystem_id",
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "sync_id": {
            "type": "string"
          },
          "vm_id": {
            "type": "string"
          },
          "filesystem_id": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "description": "VM-side path where the filesystem is mounted. Same field name as used by `SyncReadRequest.path`."
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ListSyncsResponse": {
        "type": "object",
        "required": [
          "syncs"
        ],
        "additionalProperties": false,
        "properties": {
          "syncs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sync"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteSyncResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "SyncCreateRequest": {
        "type": "object",
        "required": [
          "filesystem_id"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystem_id": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "SyncReadRequest": {
        "type": "object",
        "required": [
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          }
        }
      },
      "SyncWriteRequest": {
        "type": "object",
        "required": [
          "writes"
        ],
        "additionalProperties": false,
        "properties": {
          "writes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteEntry"
            }
          }
        }
      },
      "SyncWriteEntry": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWrite"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequest"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteCommit"
          }
        ]
      },
      "SyncChunkWrite": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id",
          "content",
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteRequest": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned": {
            "type": "boolean"
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteCommit": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SyncReadResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncReadInlineResponse"
          },
          {
            "$ref": "#/components/schemas/SyncReadPresignedResponse"
          }
        ]
      },
      "SyncReadInlineResponse": {
        "type": "object",
        "required": [
          "path",
          "size",
          "content",
          "encoding"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "content": {
            "type": "string"
          },
          "encoding": {
            "type": "string"
          }
        }
      },
      "SyncReadPresignedResponse": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned_url",
          "expires_in",
          "method"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          }
        }
      },
      "SyncWriteResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "additionalProperties": false,
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteResult"
            }
          }
        }
      },
      "SyncWriteResult": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWriteResult"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequestResult"
          },
          {
            "$ref": "#/components/schemas/SyncCommitWriteResult"
          }
        ]
      },
      "SyncChunkWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "received_bytes",
          "ranges",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "received_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "ranges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncByteRange"
            }
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncPresignedWriteRequestResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned_url",
          "upload_id",
          "expires_in",
          "method",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "upload_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncCommitWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncByteRange": {
        "type": "object",
        "required": [
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "SyncEntryError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Filesystem": {
        "type": "object",
        "required": [
          "filesystem_id",
          "name",
          "owner_org_id",
          "created_at"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystem_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner_org_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "default": "us-west-2"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ],
            "default": "aws"
          }
        }
      },
      "ListFilesystemsResponse": {
        "type": "object",
        "required": [
          "filesystems"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filesystem"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteFilesystemResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "FilesystemCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "TunnelRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": [
              "array",
              "null"
            ],
            "description": "Allowed VM ports for this tunnel. Omitted, null, or empty means any port.",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 65535
            },
            "default": []
          },
          "auth_mode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "open",
              "authenticated",
              null
            ],
            "description": "`open` allows unauthenticated tunnel requests. `authenticated` returns a one-time bearer `auth_token` and requires it on tunnel requests.",
            "default": "open"
          }
        }
      }
    }
  }
}
