{
  "openapi": "3.1.0",
  "info": {
    "title": "Arker Public VM API",
    "version": "0.3.0",
    "description": "Public VM API contract. Backends expose the same endpoint and wire\nshapes; backend-specific feature limitations are returned as\n`ErrorResponse` with `code: \"unsupported_operation\"`.\n"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://aws-us-west-2.arker.ai"
    }
  ],
  "x-arker-source": "arker-app/shared/arker-api-contract",
  "paths": {
    "/v1/fork": {
      "post": {
        "operationId": "fork",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a new VM by forking from an image, an existing VM ID, or\na VM name within an org. Exactly one of `source_image`,\n`source_vm_id`, or `source_vm_name` must be set. Forking a VM\nowned by another org requires that VM to be `public: true`.\n"
      }
    },
    "/v1/vms": {
      "get": {
        "operationId": "listVms",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Narrow to a single backend region (e.g. `us-west-2`). When omitted, the response aggregates across every configured region.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Narrow to a single backend provider. `aws` returns only arkerd-managed (host-backed) VMs; `aws-burst` returns only Lambda-managed VMs. When omitted, both are returned merged.",
            "schema": {
              "type": "string",
              "enum": [
                "aws",
                "aws-burst"
              ]
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Filter by VM lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/VmState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "description": "ISO 8601 timestamp; include only VMs that most recently started at or after this time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "description": "ISO 8601 timestamp; include only VMs that most recently started at or before this time.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VMs visible to the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVmsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVm",
        "responses": {
          "200": {
            "description": "VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteVm",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVmResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/resize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "resizeVm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resize result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResizeResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Resize VM resources. Per-run resource overrides can also be\npassed via `RunRequest` and are independent of this endpoint;\nthis endpoint sets the VM's baseline allocation.\n"
      }
    },
    "/v1/vms/{id}/runs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createRun",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Run a command. Foreground execution is the portable baseline.\nOptional `background`, `session_id`, `network`, `signal`,\n`acquire`/`release`, and per-run resource overrides may return\n`unsupported_operation` on backends that don't support them.\n"
      },
      "get": {
        "operationId": "listRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RunState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "completed_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs/{run_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getRun",
        "responses": {
          "200": {
            "description": "Run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "cancelRun",
        "responses": {
          "200": {
            "description": "Cancel result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SessionState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VM sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSession",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "getSession",
        "responses": {
          "200": {
            "description": "Session details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createSync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created sync.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a persistent sync: ensure a Filesystem exists (creating\none if requested) and bind-mount it into this VM at `path`.\nBidirectional by virtue of being a mount \u2014 there is no separate\nsync-direction parameter. Returns `ErrorResponse` code\n`conflict` if a sync already exists at `path`.\n"
      },
      "get": {
        "operationId": "listSyncs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "filesystem_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Syncs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSyncsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs/{sync_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SyncId"
        }
      ],
      "get": {
        "operationId": "getSync",
        "responses": {
          "200": {
            "description": "Sync details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSync",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSyncResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/SyncReadRequest" },
                  { "$ref": "#/components/schemas/SyncWriteRequest" }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Read or write result, matching the request op.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SyncReadResponse" },
                    { "$ref": "#/components/schemas/SyncWriteResponse" }
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Read or write files in the VM filesystem (including mounted sync paths). Discriminated by `op`: `{ \"op\": \"read\", \"path\" }` reads a file (inline content for small files, a presigned GET URL for large ones); `{ \"op\": \"write\", \"writes\": [...] }` writes, where each entry is an inline chunk or a presigned-upload step. Binding a standalone filesystem into the VM is a separate operation — see `POST /v1/vms/{id}/syncs`."
      }
    },
    "/v1/vms/{id}/tunnels": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listTunnels",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TunnelState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tunnels on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTunnelsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/tunnels/{port}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/TunnelPort"
        }
      ],
      "get": {
        "operationId": "getTunnel",
        "responses": {
          "200": {
            "description": "Tunnel details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tunnel"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteTunnel",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTunnelResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/filesystems": {
      "get": {
        "operationId": "listFilesystems",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "name_prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org-scoped persistent filesystems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesystemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/filesystems/{filesystem_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FilesystemId"
        }
      ],
      "get": {
        "operationId": "getFilesystem",
        "responses": {
          "200": {
            "description": "Filesystem details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesystem",
        "responses": {
          "200": {
            "description": "Delete result. The filesystem must not be mounted by any VM (no remaining `Sync` referencing it).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesystemResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "VmId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SyncId": {
        "name": "sync_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "TunnelPort": {
        "name": "port",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 65535
        }
      },
      "FilesystemId": {
        "name": "filesystem_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor returned by the previous page's `next_cursor`.",
        "schema": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Max items per page. Backend caps may apply.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        }
      }
    },
    "responses": {
      "Error": {
        "description": "API error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedOperation": {
        "description": "The request is valid, but this backend does not support the requested operation or option.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unsupportedOperation": {
                "summary": "Unsupported backend feature",
                "value": {
                  "code": "unsupported_operation",
                  "message": "background runs are not supported on this backend"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "enum": [
          "unsupported_operation",
          "bad_request",
          "unauthorized",
          "forbidden",
          "not_found",
          "conflict",
          "payload_too_large",
          "not_implemented",
          "resource_pressure",
          "internal",
          "unavailable",
          "network_error"
        ],
        "description": "Stable machine-readable error code. `unsupported_operation` means the backend doesn't implement the requested optional feature."
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "VmState": {
        "type": "string",
        "enum": [
          "idle",
          "running"
        ],
        "description": "Unified lifecycle state for a VM or a Session. `idle` means no command is currently executing; `running` means a command is in flight."
      },
      "SessionState": {
        "$ref": "#/components/schemas/VmState"
      },
      "RunState": {
        "type": "string",
        "enum": [
          "running",
          "completed",
          "cancelled"
        ],
        "description": "Unified lifecycle state for a Run. `cancelled` covers both\nclient cancellation and server-side abort. Failure is NOT a\nstate \u2014 failed runs land in `completed` with non-zero\n`exit_code`.\n"
      },
      "TunnelState": {
        "type": "string",
        "enum": [
          "starting",
          "open",
          "closed"
        ],
        "description": "`starting` = backend is allocating the tunnel; `open` = accepting\nconnections; `closed` = torn down or never came up.\n"
      },
      "ResourceKind": {
        "type": "string",
        "enum": [
          "cpu",
          "memory",
          "disk"
        ]
      },
      "NetworkPolicy": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/NetworkPolicyOpen"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyBlocked"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyAllow"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicyBlock"
          }
        ]
      },
      "NetworkPolicyOpen": {
        "type": "object",
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "open"
          }
        }
      },
      "NetworkPolicyBlocked": {
        "type": "object",
        "required": [
          "type"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "blocked"
          }
        }
      },
      "NetworkPolicyAllow": {
        "type": "object",
        "required": [
          "type",
          "allow"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "allow"
          },
          "allow": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NetworkPolicyBlock": {
        "type": "object",
        "required": [
          "type",
          "block"
        ],
        "additionalProperties": false,
        "properties": {
          "type": {
            "const": "block"
          },
          "block": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NetworkPolicyInput": {
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "type": "string"
          },
          {
            "$ref": "#/components/schemas/NetworkPolicy"
          }
        ]
      },
      "ForkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Global VM identifier. Org is inferred from the row."
          },
          "source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name within an org. Defaults `source_org_id` to the caller's org. A different org must be either the Arker org (for the public goldens `arkuntu` / `ubuntu`) or one with a `public: true` VM by that name."
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional explicit org context for `source_vm_name`. SDK auto-fills the Arker org when forking the public goldens."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional name for the new VM, scoped to the caller's org."
          },
          "public": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Make the new VM publicly forkable from other orgs."
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkPolicyInput"
              },
              {
                "type": "null"
              }
            ]
          },
          "tunnels": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InboundRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional inbound tunnel allocation at fork time."
          },
          "disk": {
            "type": "boolean",
            "default": true
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "max_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "durable": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "session_id",
          "state",
          "cwd"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": "string"
          },
          "session_idx": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "state": {
            "$ref": "#/components/schemas/SessionState"
          },
          "cwd": {
            "type": "string"
          },
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional environment-variable overrides for this session."
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "ListSessionsResponse": {
        "type": "object",
        "required": [
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Vm": {
        "type": "object",
        "required": [
          "vm_id",
          "owner_org_id",
          "created_at",
          "public",
          "state",
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "type": "string"
          },
          "owner_org_id": {
            "type": "string",
            "description": "Org that owns this VM."
          },
          "created_at": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name, scoped to `owner_org_id`."
          },
          "public": {
            "type": "boolean",
            "description": "When `true`, other orgs can fork this VM (but cannot run on it)."
          },
          "root_source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of the root (deepest-ancestor) source VM, if this VM was created by a chain of forks. None for VMs forked directly from an image."
          },
          "root_source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the root source VM. Populated together with `root_source_vm_id`."
          },
          "state": {
            "$ref": "#/components/schemas/VmState"
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "worker_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Worker host that owns this VM. Used by routers to populate caches without a fresh PlanetScale lookup."
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tunnel"
            }
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkStatus"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ListVmsResponse": {
        "type": "object",
        "required": [
          "vms"
        ],
        "additionalProperties": false,
        "properties": {
          "vms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteVmResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DeleteSessionResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "RunRequest": {
        "type": "object",
        "required": [
          "command"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "session_idx": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "command": {
            "type": "string"
          },
          "background": {
            "type": "boolean",
            "default": false
          },
          "timeout": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "end_symbol": {
            "type": [
              "string",
              "null"
            ],
            "default": "auto"
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "acquire": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to ensure are\npre-allocated (warm) before the run starts. Values: `cpu`,\n`memory`, `disk`. Example: `\"cpu,memory\"`.\n"
          },
          "release": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to release after the run\nfinishes. Values: `cpu`, `memory`, `disk`. `\"cpu\"` frees\nvCPU but keeps memory hot for the next run on this VM;\n`\"cpu,memory,disk\"` is a full release (closest to a\nsuspend).\n"
          },
          "signal": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "NetworkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InboundRequest"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "InboundRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortRequest"
            },
            "default": {}
          }
        }
      },
      "InboundPortRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "visibility": {
            "type": "string",
            "default": "private"
          },
          "protocol": {
            "type": "string",
            "default": "http"
          }
        }
      },
      "RunResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CompletedRunResponse"
          },
          {
            "$ref": "#/components/schemas/BackgroundRunResponse"
          }
        ]
      },
      "CompletedRunResponse": {
        "type": "object",
        "required": [
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string",
            "description": "TODO(encoding-normalize): goal is to always emit utf-8 from\nevery source so this field becomes unnecessary. Until then\nthe SDK uses it to decode.\n"
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string"
          },
          "exit_code": {
            "type": "integer"
          },
          "dispatch": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "BackgroundRunResponse": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tunnel"
            },
            "default": []
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkStatus"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Run": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code",
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding",
          "tunnels"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string"
          },
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tunnel"
            }
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "retry_count": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "RunSummary": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "ListRunsResponse": {
        "type": "object",
        "required": [
          "runs"
        ],
        "additionalProperties": false,
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunSummary"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "NetworkStatus": {
        "type": "object",
        "required": [
          "inbound"
        ],
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "$ref": "#/components/schemas/InboundStatus"
          }
        }
      },
      "InboundStatus": {
        "type": "object",
        "required": [
          "ports"
        ],
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortStatus"
            }
          }
        }
      },
      "InboundPortStatus": {
        "type": "object",
        "required": [
          "requested",
          "observed",
          "effective",
          "protocol"
        ],
        "additionalProperties": false,
        "properties": {
          "requested": {
            "type": "string"
          },
          "observed": {
            "type": "string"
          },
          "effective": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Tunnel": {
        "type": "object",
        "required": [
          "vm_id",
          "port",
          "visibility",
          "protocol",
          "state"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "type": "string",
            "description": "The VM this tunnel belongs to. Always populated, including when embedded in `Run.tunnels`."
          },
          "port": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535,
            "description": "Unique-per-VM identifier."
          },
          "run_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The Run that opened this tunnel, if any. Tunnels allocated at fork time have `run_id: null`."
          },
          "visibility": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/TunnelState"
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "ListTunnelsResponse": {
        "type": "object",
        "required": [
          "tunnels"
        ],
        "additionalProperties": false,
        "properties": {
          "tunnels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tunnel"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteTunnelResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "CancelRunResponse": {
        "type": "object",
        "required": [
          "cancelled"
        ],
        "additionalProperties": false,
        "properties": {
          "cancelled": {
            "type": "boolean"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "cwd": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ResizeRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "ResizeResponse": {
        "type": "object",
        "required": [
          "resized"
        ],
        "additionalProperties": false,
        "properties": {
          "resized": {
            "type": "boolean"
          }
        }
      },
      "Sync": {
        "type": "object",
        "required": [
          "sync_id",
          "vm_id",
          "filesystem_id",
          "path",
          "created_at"
        ],
        "additionalProperties": false,
        "properties": {
          "sync_id": {
            "type": "string"
          },
          "vm_id": {
            "type": "string"
          },
          "filesystem_id": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "description": "VM-side path where the filesystem is mounted. Same field name as used by `SyncReadRequest.path`."
          },
          "created_at": {
            "type": "string"
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "filesystem_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ]
          }
        }
      },
      "ListSyncsResponse": {
        "type": "object",
        "required": [
          "syncs"
        ],
        "additionalProperties": false,
        "properties": {
          "syncs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sync"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteSyncResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "SyncCreateRequest": {
        "type": "object",
        "required": [
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystem_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "filesystem_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "create_if_missing": {
            "type": "boolean",
            "default": false
          },
          "path": {
            "type": "string",
            "description": "VM-side path. Returns `ErrorResponse` code `conflict` if a sync already exists at this path."
          }
        }
      },
      "SyncReadRequest": {
        "type": "object",
        "required": [
          "op",
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "op": {
            "type": "string",
            "const": "read"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "SyncWriteRequest": {
        "type": "object",
        "required": [
          "op",
          "writes"
        ],
        "additionalProperties": false,
        "properties": {
          "op": {
            "type": "string",
            "const": "write"
          },
          "writes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteEntry"
            }
          }
        }
      },
      "SyncWriteEntry": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWrite"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequest"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteCommit"
          }
        ]
      },
      "SyncChunkWrite": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id",
          "content",
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteRequest": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned": {
            "type": "boolean"
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteCommit": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SyncReadResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncReadInlineResponse"
          },
          {
            "$ref": "#/components/schemas/SyncReadPresignedResponse"
          }
        ]
      },
      "SyncReadInlineResponse": {
        "type": "object",
        "required": [
          "path",
          "size",
          "content",
          "encoding"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "content": {
            "type": "string"
          },
          "encoding": {
            "type": "string"
          }
        }
      },
      "SyncReadPresignedResponse": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned_url",
          "expires_in",
          "method"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          }
        }
      },
      "SyncWriteResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "additionalProperties": false,
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteResult"
            }
          }
        }
      },
      "SyncWriteResult": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWriteResult"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequestResult"
          },
          {
            "$ref": "#/components/schemas/SyncCommitWriteResult"
          }
        ]
      },
      "SyncChunkWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "received_bytes",
          "ranges",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "received_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "ranges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncByteRange"
            }
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncPresignedWriteRequestResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned_url",
          "upload_id",
          "expires_in",
          "method",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "upload_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncCommitWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncByteRange": {
        "type": "object",
        "required": [
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "SyncEntryError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Filesystem": {
        "type": "object",
        "required": [
          "filesystem_id",
          "name",
          "owner_org_id",
          "created_at"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystem_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner_org_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "default": "us-west-2"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              "aws-burst",
              null
            ],
            "default": "aws"
          }
        }
      },
      "ListFilesystemsResponse": {
        "type": "object",
        "required": [
          "filesystems"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filesystem"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteFilesystemResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      }
    }
  }
}