{
  "openapi": "3.1.0",
  "info": {
    "title": "Arker Public VM API",
    "version": "0.3.0",
    "description": "Public VM and control-plane API contract. Every supported deployment exposes the same wire shapes. Features that are unavailable in a selected region or provider return an `ErrorResponse` with `code: \"unsupported_operation\"`.\n"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://arker.ai/api"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Service",
      "description": "Service readiness and availability."
    },
    {
      "name": "VMs",
      "description": "Create and manage virtual machines."
    },
    {
      "name": "Policies",
      "description": "Control inbound and outbound VM network access."
    },
    {
      "name": "Runs",
      "description": "Execute commands and inspect their results."
    },
    {
      "name": "Sessions",
      "description": "Manage persistent command sessions."
    },
    {
      "name": "PTY",
      "description": "Attach interactive terminals to sessions."
    },
    {
      "name": "Sync",
      "description": "Read and write files in a VM."
    },
    {
      "name": "Filesystems",
      "description": "Create shared filesystems and mount them into VMs."
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "health",
        "tags": [
          "Service"
        ],
        "summary": "Check service readiness",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready to accept public API traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service is live but not currently ready to accept public API traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Public health and readiness probe. Returns service status and server time."
      }
    },
    "/v1/fork": {
      "post": {
        "operationId": "fork",
        "tags": [
          "VMs"
        ],
        "summary": "Fork a VM",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a new VM by forking from an existing VM ID or a VM name within an organization. Exactly one of `source_vm_id` or `source_vm_name` must be set. Forking a VM owned by another organization requires that VM to be public."
      }
    },
    "/v1/vms": {
      "get": {
        "operationId": "listVms",
        "tags": [
          "VMs"
        ],
        "summary": "List VMs",
        "description": "List VMs visible to the authenticated caller, optionally filtered by region, provider, owner, visibility, or lifecycle state.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Narrow to a single region (e.g. `us-west-2`). When omitted, the response aggregates across every configured region.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Narrow results to a cloud provider.",
            "schema": {
              "$ref": "#/components/schemas/Provider"
            }
          },
          {
            "in": "query",
            "name": "org_id",
            "required": false,
            "description": "List public VMs owned by this org. Currently only `ArkerHQ` is supported, together with `public=true`, for the public template catalog.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "public",
            "required": false,
            "description": "Filter by public visibility. Use with `org_id=ArkerHQ` to list the public template catalog.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Filter by VM lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/VmState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VMs visible to the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVmsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listOrgRuns",
        "tags": [
          "Runs"
        ],
        "summary": "List organization runs",
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "required": false,
            "description": "Unix epoch seconds; include runs at or after this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "until",
            "required": false,
            "description": "Unix epoch seconds; include runs before this time.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "vm",
            "required": false,
            "description": "Single VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vms",
            "required": false,
            "description": "Comma-separated VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Region filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Cloud provider filter.",
            "schema": {
              "$ref": "#/components/schemas/Provider"
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "description": "Free-text search across run metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of rows to return. The maximum is 200 normally and 20,000 when `lite=true`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20000
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Number of rows to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "lite",
            "required": false,
            "description": "When true, omit large input and output previews where supported.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "runtime",
            "required": false,
            "description": "Runtime filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endpoint",
            "required": false,
            "description": "Endpoint category filter.",
            "schema": {
              "type": "string",
              "enum": [
                "run",
                "fork",
                "sync"
              ]
            }
          },
          {
            "in": "query",
            "name": "actions",
            "required": false,
            "description": "Comma-separated action filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Comma-separated status class filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status_min",
            "required": false,
            "description": "Minimum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status_max",
            "required": false,
            "description": "Maximum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "Sort column.",
            "schema": {
              "type": "string",
              "enum": [
                "when",
                "status",
                "path",
                "total",
                "queue",
                "your_code",
                "runtime"
              ]
            }
          },
          {
            "in": "query",
            "name": "dir",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs visible to the authenticated caller across VMs, providers, and regions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Control-plane listing of run activity visible to the authenticated caller across VMs, providers, and regions."
      }
    },
    "/v1/vms/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVm",
        "tags": [
          "VMs"
        ],
        "summary": "Get a VM",
        "description": "Return one VM visible to the authenticated caller.",
        "responses": {
          "200": {
            "description": "VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteVm",
        "tags": [
          "VMs"
        ],
        "summary": "Delete a VM",
        "description": "Delete a VM owned by the authenticated caller.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVmResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "patchVm",
        "tags": [
          "VMs"
        ],
        "summary": "Update a VM",
        "description": "Update a VM's resources, SSH keys, or network policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchVmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVmPolicies",
        "tags": [
          "Policies"
        ],
        "summary": "Get a VM network policy",
        "description": "Return the VM's network policy together with its derived inbound exposure and enforcement metadata.",
        "responses": {
          "200": {
            "description": "The VM's policy document (empty when none is set), plus its derived inbound exposure (reachability + per-port tunnels).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDoc"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "putVmPolicies",
        "tags": [
          "Policies"
        ],
        "summary": "Replace a VM network policy",
        "description": "Replace the VM's complete network policy and apply it to the running VM.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyWriteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored policy, plus request-level enforcement domains and any non-fatal notices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDoc"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createRun",
        "tags": [
          "Runs"
        ],
        "summary": "Run a command",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Run a command. Foreground execution is the portable baseline. Set `background` to return a pollable run immediately. A request with `signal` targets the selected persistent session's foreground process group, does not execute `command`, and returns an acknowledgement without a run id. Optional session, signal, resource-lifecycle, policy, and per-run resource controls may return `unsupported_operation` when they are unavailable in the selected region or provider."
      },
      "get": {
        "operationId": "listRuns",
        "tags": [
          "Runs"
        ],
        "summary": "List VM runs",
        "description": "List recorded runs for one VM, with optional lifecycle and time filters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Return only runs in this lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/RunState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "description": "Return runs started at or after this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "description": "Return runs started at or before this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "completed_after",
            "required": false,
            "description": "Return runs completed at or after this RFC 3339 timestamp.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs/{run_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getRun",
        "tags": [
          "Runs"
        ],
        "summary": "Get a run",
        "description": "Return one recorded run, including its current state and available output.",
        "responses": {
          "200": {
            "description": "Run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "cancelRun",
        "tags": [
          "Runs"
        ],
        "summary": "Cancel a run",
        "description": "Request cancellation of an in-flight run.",
        "responses": {
          "200": {
            "description": "Cancel result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "tags": [
          "Sessions"
        ],
        "summary": "List VM sessions",
        "description": "List persistent command sessions for one VM.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Return only sessions in this lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/SessionState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VM sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Create a session",
        "description": "Create a persistent command session in a VM.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "getSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Get a session",
        "description": "Return one persistent VM session.",
        "responses": {
          "200": {
            "description": "Session details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "patchSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Update a session (resize PTY / set timeout)",
        "description": "Resize the session's PTY (cols/rows) and/or update its idle timeout. Resize is delivered to a LIVE attached PTY in-band; if the PTY is detached, it is applied directly to the session's runtime; if no PTY has ever attached, the call is accepted as a no-op. REST equivalent of the WebSocket {\"type\":\"resize\"} control frame \u2014 usable from any client, attached or not.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Delete a session",
        "description": "Close and remove a persistent VM session.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        },
        {
          "name": "cols",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 80
          },
          "description": "Initial terminal width in columns."
        },
        {
          "name": "rows",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 24
          },
          "description": "Initial terminal height in rows."
        },
        {
          "name": "command",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Single executable path to launch (no shell-splitting). Defaults to the login shell."
        },
        {
          "name": "persist",
          "in": "query",
          "required": false,
          "schema": {
            "type": "boolean",
            "default": true
          },
          "description": "When true (default), disconnecting keeps the shell running so the same session_id can reconnect to it and receive recent scrollback. When false, the shell is terminated on disconnect. A kill control message or the configured idle TTL terminates a persistent shell."
        },
        {
          "name": "cancel_ttl_secs",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "minimum": 0
          },
          "description": "Destroy the PTY after this many seconds without terminal input or output. Omit or set to zero to disable this PTY-specific idle limit."
        },
        {
          "name": "ticket",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Browser auth: a short-lived ticket from POST .../pty-ticket, used in place of the Authorization header (which a browser WebSocket cannot set)."
        }
      ],
      "get": {
        "operationId": "attachSessionPty",
        "tags": [
          "PTY"
        ],
        "summary": "Open an interactive PTY (WebSocket upgrade)",
        "description": "Upgrades to a WebSocket carrying an interactive pseudo-terminal in the VM, reusing the same in-guest PTY as SSH. Authenticate with a bearer API key or, for browser clients, a short-lived PTY ticket. Reopening the same `session_id` reconnects to a persistent shell and replays recent scrollback. Binary server frames contain raw terminal output; binary client frames contain stdin bytes. Text client frames accept JSON controls for `resize`, `kill`, and `ping`. Closing the socket detaches a persistent shell or destroys a non-persistent shell; `kill` always destroys it. The service enforces attachment limits and closes oversized or idle connections.",
        "security": [
          {
            "BearerAuth": []
          },
          {
            "PtyTicket": []
          }
        ],
        "responses": {
          "101": {
            "description": "Switching Protocols \u2014 the WebSocket PTY stream is established."
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty-ticket": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "mintSessionPtyTicket",
        "tags": [
          "PTY"
        ],
        "summary": "Mint a browser PTY ticket",
        "description": "Returns a short-lived, multi-use credential for opening the PTY WebSocket from a browser, which cannot set an Authorization header. The bearer-authenticated caller must own the VM. Pass the returned credential as the `ticket` query parameter on the PTY WebSocket URL.",
        "responses": {
          "200": {
            "description": "Ticket minted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PtyTicketResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createSync",
        "tags": [
          "Filesystems"
        ],
        "summary": "Mount a filesystem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created sync.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a persistent sync: ensure a Filesystem exists (creating\none if requested) and bind-mount it into this VM at `path`.\nBidirectional by virtue of being a mount \u2014 there is no separate\nsync-direction parameter. Returns `ErrorResponse` code\n`conflict` if a sync already exists at `path`.\n"
      },
      "get": {
        "operationId": "listSyncs",
        "tags": [
          "Filesystems"
        ],
        "summary": "List filesystem mounts",
        "description": "List persistent filesystem mounts for one VM, optionally filtered by filesystem.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "filesystem_id",
            "required": false,
            "description": "Return only mounts for this filesystem.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Syncs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSyncsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs/{sync_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SyncId"
        }
      ],
      "delete": {
        "operationId": "deleteSync",
        "tags": [
          "Filesystems"
        ],
        "summary": "Unmount a filesystem",
        "description": "Remove a persistent filesystem mount from a VM.",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSyncResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "sync",
        "tags": [
          "Sync"
        ],
        "summary": "Read or write VM files",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Read or write result, matching the request op.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Read or write files in the VM filesystem. Op-discriminated:\n`{op:\"read\",path}` reads a file (inline content for small files, a\npresigned GET URL for large ones); `{op:\"write\",writes:[...]}` writes,\neach entry an inline chunk or a presigned-upload step. Binding a\nfilesystem into the VM is the separate `/v1/vms/{id}/syncs` resource.\n"
      }
    },
    "/v1/filesystems": {
      "get": {
        "operationId": "listFilesystems",
        "tags": [
          "Filesystems"
        ],
        "summary": "List filesystems",
        "description": "List shared filesystems visible to the authenticated caller.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "name_prefix",
            "required": false,
            "description": "Return only filesystems whose names begin with this value.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org-scoped persistent filesystems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesystemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Create a filesystem",
        "description": "Create a shared filesystem owned by the authenticated caller's organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilesystemCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created filesystem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/filesystems/{filesystem_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FilesystemId"
        }
      ],
      "get": {
        "operationId": "getFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Get a filesystem",
        "description": "Return one shared filesystem visible to the authenticated caller.",
        "responses": {
          "200": {
            "description": "Filesystem details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesystem",
        "tags": [
          "Filesystems"
        ],
        "summary": "Delete a filesystem",
        "description": "Delete a shared filesystem after all VM mounts have been removed.",
        "responses": {
          "200": {
            "description": "Delete result. The filesystem must not be mounted by any VM (no remaining `Sync` referencing it).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesystemResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Arker API key"
      },
      "PtyTicket": {
        "type": "apiKey",
        "in": "query",
        "name": "ticket",
        "description": "Short-lived browser credential created by the PTY ticket endpoint."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Makes run submission safely retryable. Reusing a key with the same request returns the original result; reusing it with a different request returns a conflict.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "pattern": "^[ -~]+$"
        }
      },
      "VmId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "VM identifier.",
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "description": "Run identifier.",
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sid",
        "in": "path",
        "required": true,
        "description": "Session identifier.",
        "schema": {
          "type": "string"
        }
      },
      "SyncId": {
        "name": "sync_id",
        "in": "path",
        "required": true,
        "description": "Filesystem mount identifier.",
        "schema": {
          "type": "string"
        }
      },
      "FilesystemId": {
        "name": "filesystem_id",
        "in": "path",
        "required": true,
        "description": "Filesystem identifier.",
        "schema": {
          "type": "string"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor returned by the previous page's `next_cursor`.",
        "schema": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum items per page. Service caps may apply.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "description": "Delay in seconds before retrying a transiently unavailable request.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "The organization must complete billing setup or payment before starting new compute.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error": {
        "description": "API error.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedOperation": {
        "description": "The request is valid, but the requested operation or option is unavailable in the selected region or provider.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unsupportedOperation": {
                "summary": "Unavailable feature",
                "value": {
                  "error": {
                    "code": "unsupported_operation",
                    "message": "background runs are unavailable in the selected region",
                    "timestamp": "2026-07-21T00:00:00Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "description": "Readiness status. `ok` means the service is ready; other values may be returned with HTTP 503."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server time when the health response was generated."
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "unsupported_operation",
          "bad_request",
          "validation_error",
          "unauthorized",
          "invalid_api_key",
          "api_key_required",
          "csrf_rejected",
          "forbidden",
          "legal_acceptance_required",
          "payment_required",
          "not_found",
          "conflict",
          "method_not_allowed",
          "payload_too_large",
          "rate_limited",
          "budget_exceeded",
          "concurrency_limit_exceeded",
          "resource_pressure",
          "internal",
          "unavailable",
          "bad_gateway",
          "stale_route",
          "unrecoverable"
        ],
        "description": "Stable machine-readable error code. `unsupported_operation` means the requested optional feature is unavailable in the selected region or provider. `payment_required` means billing setup or payment is required before new compute can start. `rate_limited` means the organization exceeded its request rate. `budget_exceeded` means the organization reached its monthly spending limit. `concurrency_limit_exceeded` means the organization reached a concurrent compute-resource limit. `resource_pressure` means the serving infrastructure is temporarily at capacity."
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "code",
          "message",
          "timestamp"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string",
            "description": "Human-readable, client-safe error message. For `code: \"internal\"`, this is intentionally generic."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server time when the error response was generated."
          },
          "retry_after": {
            "type": "integer",
            "minimum": 0,
            "description": "Suggested retry delay in seconds. Present on retryable responses and mirrored by the Retry-After header."
          },
          "operation": {
            "type": "string",
            "description": "Operation that failed, when the service can identify it safely."
          },
          "runtime": {
            "type": "string",
            "description": "Runtime involved in the failure, when safe to expose."
          },
          "provider": {
            "type": "string",
            "description": "Infrastructure provider involved in the failure, when safe to expose."
          },
          "retryable": {
            "type": "boolean",
            "description": "Whether clients should retry the operation."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "additionalProperties": false,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody"
          }
        }
      },
      "VmState": {
        "type": "string",
        "enum": [
          "idle",
          "running"
        ],
        "description": "Unified lifecycle state for a VM or a Session. `idle` means no command is currently executing; `running` means a command is in flight."
      },
      "SessionState": {
        "$ref": "#/components/schemas/VmState"
      },
      "RunState": {
        "type": "string",
        "enum": [
          "running",
          "completed",
          "failed",
          "cancelled"
        ],
        "description": "Lifecycle state for a run. `running` means the command is in progress. `completed` means the command finished; `exit_code` reports its result. `failed` means the service could not start or finish the command, with a client-safe explanation in `fail_reason`. `cancelled` means the client cancelled the run."
      },
      "Provider": {
        "type": "string",
        "enum": [
          "aws",
          "azure",
          "runpod",
          "mac"
        ],
        "description": "Infrastructure provider currently hosting the resource."
      },
      "PolicyWriteRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "A complete replacement for a VM's network policy. Rules are evaluated in order, and the first matching rule determines the result.",
        "properties": {
          "policies": {
            "type": "array",
            "description": "Ordered network policy rules. An empty list selects the default posture: allow outbound traffic and require Arker authentication for inbound traffic.",
            "items": {
              "$ref": "#/components/schemas/PolicyEntry"
            }
          },
          "secrets": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Named secret values referenced by `${secret:NAME}` in rewrite actions. Values are encrypted at rest and masked in subsequent policy responses."
          }
        }
      },
      "PolicyDoc": {
        "type": "object",
        "additionalProperties": false,
        "description": "A VM's current network policy and its derived inbound exposure metadata.",
        "properties": {
          "policies": {
            "type": "array",
            "description": "Ordered network policy rules. An empty list selects the default posture: allow outbound traffic and require Arker authentication for inbound traffic.",
            "items": {
              "$ref": "#/components/schemas/PolicyEntry"
            }
          },
          "secrets": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Named secrets referenced by `${secret:NAME}` in rewrite actions. Stored values are represented as `***`; supply the original value when replacing a policy that uses it."
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "description": "The VM's inbound application hostname when inbound access is available."
          },
          "mitm_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "Domains whose matching traffic is evaluated by the request-level policy engine."
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true,
            "description": "Non-fatal policy application notices."
          }
        }
      },
      "PolicyEntry": {
        "type": "object",
        "required": [
          "type",
          "action"
        ],
        "additionalProperties": false,
        "description": "One policy rule. `match` AND's its present fields (absent \u21d2 catch-all).",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "outbound",
              "inbound"
            ],
            "description": "Traffic direction: `outbound` controls connections initiated by the VM; `inbound` exposes a guest port. Unknown values are rejected."
          },
          "match": {
            "$ref": "#/components/schemas/PolicyMatch"
          },
          "action": {
            "$ref": "#/components/schemas/PolicyAction"
          },
          "auth": {
            "type": "string",
            "enum": [
              "open",
              "arker"
            ],
            "description": "Authentication for an inbound allow rule. `open` exposes the port publicly; `arker` requires an API key for the caller's organization before forwarding to the guest. The default is `arker`. This field is invalid on deny and outbound rules. Inbound port matches must use individual ports rather than ranges."
          }
        }
      },
      "PolicyMatch": {
        "type": "object",
        "additionalProperties": false,
        "description": "Match criteria: present fields are combined with AND; list items are combined with OR. `ips` and `hosts` are mutually exclusive. Port, IP, and host rules operate at the connection layer. Method, path, header, and body rules operate at the request layer.",
        "properties": {
          "ports": {
            "type": "array",
            "description": "Single ports and/or inclusive [start, end] ranges, e.g. [80, 443, [1000, 2000]]. Empty/absent = any port.",
            "items": {
              "oneOf": [
                {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 65535
                },
                {
                  "type": "array",
                  "description": "Inclusive [start, end] port range.",
                  "items": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "minItems": 2,
                  "maxItems": 2
                }
              ]
            }
          },
          "ips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IPs or CIDRs."
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Label-boundary suffix match on the request host: `github.com` matches `api.github.com`, not `evilgithub.com`."
          },
          "methods": {
            "description": "HTTP methods matched by this rule.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "paths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Full-segment path prefixes."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Header name \u2192 any-of values (names AND'd, a name's values OR'd)."
          },
          "body_contains": {
            "description": "Substrings that must appear in the request body.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PolicyAction": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "allow",
              "deny"
            ]
          },
          {
            "type": "object",
            "additionalProperties": false,
            "description": "A mutating action: at least one of `rewrite` / `gate` must be present. The request is forwarded upstream (applying `rewrite` if present); a `gate` blocks it until an outbound HTTP check allows it.",
            "properties": {
              "rewrite": {
                "$ref": "#/components/schemas/Rewrite"
              },
              "gate": {
                "$ref": "#/components/schemas/Gate"
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "scaling"
            ],
            "properties": {
              "scaling": {
                "$ref": "#/components/schemas/ScalingAction"
              }
            }
          }
        ],
        "description": "Allow or deny matching traffic, rewrite a matching request, require an authorization gate, or suspend the VM while a matching request is in flight."
      },
      "ScalingAction": {
        "type": "object",
        "additionalProperties": false,
        "description": "Auto-scaling behavior for matched outbound traffic. The object is extensible with future scaling controls.",
        "properties": {
          "suspend": {
            "type": "boolean",
            "default": false,
            "description": "Suspend the VM while a matched upstream request is blocked, then resume it when the response arrives."
          }
        }
      },
      "Rewrite": {
        "type": "object",
        "additionalProperties": false,
        "description": "Mutate-and-forward. Host/path/header/body values support request-time `$`-token interpolation: `$domain`, `$path`, `$method`, `$vm_id`, `$body` (the request body as received, also `${\u2026}`-braced), and `$$` for a literal `$`. Unknown/unresolved tokens pass through unchanged.",
        "properties": {
          "host": {
            "description": "Replacement request host.",
            "type": "string"
          },
          "path": {
            "description": "Path inside the VM.",
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Merge-set these request headers (not replace-all)."
          },
          "remove_headers": {
            "description": "Request header names to remove before forwarding.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "body": {
            "type": "string",
            "description": "Replace the request body entirely with this (interpolated) value; `$body` re-injects the original body. Absent = body forwarded unchanged."
          }
        }
      },
      "Gate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "host",
          "allow_on_status"
        ],
        "description": "`action.gate` performs an outbound HTTP authorization check before opening the VM's matching connection. A response status in `allow_on_status` permits the connection and applies any sibling `rewrite`; any other status denies it. Timeouts and connection failures follow `deny_on_timeout`, which defaults to deny. `path`, header values, and string leaves of `body` support `$` substitution with the documented request variables. `host` is not substituted. Injected JSON values are escaped, and gate requests reject private, link-local, and internal destinations.",
        "properties": {
          "host": {
            "type": "string",
            "description": "Target endpoint INCLUDING scheme, e.g. https://authz.example.com. Not interpolated."
          },
          "path": {
            "type": "string",
            "description": "Request path (interpolated). Default /."
          },
          "method": {
            "type": "string",
            "description": "HTTP method. Default GET."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Request headers with interpolated values. Stored credentials are encrypted at rest and masked in policy responses."
          },
          "body": {
            "description": "JSON request body; string leaves are interpolated and JSON-escaped. Absent = no body."
          },
          "allow_on_status": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "HTTP status codes that mean ALLOW. Any other status denies. Must be non-empty."
          },
          "deny_on_timeout": {
            "type": "boolean",
            "description": "Verdict on timeout / connection failure: true = deny (fail-closed, default), false = allow (fail-open)."
          },
          "timeout_ms": {
            "type": "integer",
            "description": "Max wall-clock for the gate call before it is abandoned (then deny_on_timeout applies). Default ~30000."
          }
        }
      },
      "ForkRequest": {
        "type": "object",
        "additionalProperties": false,
        "oneOf": [
          {
            "required": [
              "source_vm_id"
            ],
            "properties": {
              "source_vm_id": {
                "type": "string"
              },
              "source_vm_name": {
                "type": "null"
              }
            }
          },
          {
            "required": [
              "source_vm_name"
            ],
            "properties": {
              "source_vm_id": {
                "type": "null"
              },
              "source_vm_name": {
                "type": "string"
              }
            }
          }
        ],
        "properties": {
          "source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Global VM identifier. Org is inferred from the row."
          },
          "source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name within an organization. `source_org_id` defaults to the caller's organization. A VM owned by another organization must be public."
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Organization that owns `source_vm_name`. Use `ArkerHQ` for Arker's public templates."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional name for the new VM, scoped to the caller's org."
          },
          "public": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Make the new VM publicly forkable from other orgs."
          },
          "ssh_public_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "SSH public keys to authorize on the new VM as raw `authorized_keys` entries, such as `ssh-ed25519 AAAA... you@host`. The list becomes the VM's authorized-key set. Omit it or pass an empty list to create the VM with no keys; add keys later with `PATCH /v1/vms/{id}`. Configure inbound reachability through the VM's policy."
          },
          "disk": {
            "description": "Whether the new VM should include persistent disk storage.",
            "type": [
              "boolean",
              "null"
            ]
          },
          "durable": {
            "description": "Whether the VM should preserve recoverable state across compute interruptions.",
            "type": [
              "boolean",
              "null"
            ]
          },
          "platforms": {
            "description": "Preferred compute platforms for a public template, such as `[\"graviton3\"]`. Supply multiple values to allow any listed platform. Omit or pass an empty list for automatic selection. A fork of an existing VM inherits its source platform.",
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "policies": {
            "description": "Network policy for the new VM. Omit it to inherit the source VM's policy. Providing a policy replaces the inherited policy; an empty document selects the default posture of allow-all outbound traffic and authenticated inbound traffic. Network topology is inherited from the source. Set SSH keys through `ssh_public_keys`.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PolicyWriteRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "resources": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VmResources"
              },
              {
                "type": "null"
              }
            ],
            "description": "Resource shape for the new VM."
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "session_id",
          "state",
          "cwd"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "description": "Unique session identifier.",
            "type": "string"
          },
          "session_idx": {
            "description": "Zero-based session index within the VM.",
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "state": {
            "$ref": "#/components/schemas/SessionState"
          },
          "cwd": {
            "description": "Working directory inside the VM.",
            "type": "string"
          },
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional environment-variable overrides for this session."
          },
          "started_at": {
            "description": "RFC 3339 timestamp when execution or the session started.",
            "type": [
              "string",
              "null"
            ]
          },
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "description": "Customer-defined VM name.",
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "description": "Organization that owns the source VM.",
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "description": "Region containing the resource or activity.",
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "description": "Infrastructure provider currently hosting the session's VM.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Provider"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ListSessionsResponse": {
        "type": "object",
        "required": [
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "sessions": {
            "description": "Sessions associated with the VM.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "next_cursor": {
            "description": "Cursor for the next page, or null when no further page is available.",
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Vm": {
        "type": "object",
        "required": [
          "vm_id",
          "owner_org_id",
          "created_at",
          "public",
          "state",
          "sessions",
          "resources",
          "network"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": "string"
          },
          "owner_org_id": {
            "type": "string",
            "description": "Org that owns this VM."
          },
          "created_at": {
            "description": "RFC 3339 timestamp when the resource was created.",
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name, scoped to `owner_org_id`."
          },
          "public": {
            "type": "boolean",
            "description": "When `true`, other orgs can fork this VM (but cannot run on it)."
          },
          "root_source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of the root (deepest-ancestor) source VM, if this VM was created by a chain of forks. None for VMs forked directly from an image."
          },
          "root_source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the root source VM. Populated together with `root_source_vm_id`."
          },
          "state": {
            "$ref": "#/components/schemas/VmState"
          },
          "region": {
            "description": "Region containing the resource or activity.",
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "description": "Infrastructure provider currently hosting the VM.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Provider"
              },
              {
                "type": "null"
              }
            ]
          },
          "started_at": {
            "description": "RFC 3339 timestamp when execution or the session started.",
            "type": [
              "string",
              "null"
            ]
          },
          "network": {
            "$ref": "#/components/schemas/VmNetwork",
            "description": "The VM's network object — SSH keys only. Inbound reachability and per-port tunnels are derived from `policies` and surface on the policies GET/PUT response, not here."
          },
          "max_vcpus": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Hard vCPU ceiling for a fork of this VM (KVM slot count). Requesting more fails the run."
          },
          "min_vcpus": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Smallest vCPU count accepted for this VM."
          },
          "max_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Hard memory ceiling (MiB) a fork can hotplug up to."
          },
          "min_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Non-hotpluggable base memory (MiB)."
          },
          "min_disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Smallest disk size (MiB) accepted for this VM. `0` means nodisk."
          },
          "max_disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Largest disk size (MiB) accepted for this VM. `0` means nodisk."
          },
          "sessions": {
            "description": "Sessions associated with the VM.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "resources": {
            "$ref": "#/components/schemas/VmResources",
            "description": "Current VM resource allocation."
          }
        }
      },
      "ListVmsResponse": {
        "type": "object",
        "required": [
          "vms"
        ],
        "additionalProperties": false,
        "properties": {
          "vms": {
            "description": "VMs visible to the authenticated caller.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          },
          "next_cursor": {
            "description": "Cursor for the next page, or null when no further page is available.",
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteVmResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "description": "True when the resource has been deleted.",
            "type": "boolean"
          }
        }
      },
      "DeleteSessionResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "description": "True when the resource has been deleted.",
            "type": "boolean"
          }
        }
      },
      "PatchSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cols": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "description": "New terminal width in columns. Provide together with rows."
          },
          "rows": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "description": "New terminal height in rows. Provide together with cols."
          },
          "timeout_secs": {
            "type": "integer",
            "minimum": 0,
            "description": "Idle auto-cancel window for the PTY; applies on the next attach."
          }
        }
      },
      "PatchSessionResponse": {
        "type": "object",
        "required": [
          "ok",
          "session_id"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "description": "True when the operation succeeded.",
            "type": "boolean"
          },
          "session_id": {
            "description": "Unique session identifier.",
            "type": "string"
          }
        }
      },
      "RunRequest": {
        "type": "object",
        "required": [
          "command"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "description": "Unique session identifier.",
            "type": [
              "string",
              "null"
            ]
          },
          "session_idx": {
            "description": "Zero-based session index within the VM.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "command": {
            "description": "Command submitted for execution.",
            "type": "string"
          },
          "background": {
            "description": "When true, return immediately with a run ID and continue execution in the background.",
            "type": "boolean",
            "default": false
          },
          "timeout": {
            "description": "Maximum command runtime in seconds. Omitted defaults to 3,600 seconds. Set to 0 to disable the runtime limit. This is separate from `time_to_background`, which controls how long the request waits for completion.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "time_to_background": {
            "description": "Sync window in seconds: how long the HTTP call blocks before backgrounding the run and returning a pollable run_id. Omitted defaults to 30. Does not bound command runtime — that is timeout.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "end_symbol": {
            "description": "Output marker used to determine when interactive execution is complete.",
            "type": [
              "string",
              "null"
            ],
            "default": "auto"
          },
          "vcpu_count": {
            "description": "Virtual CPU allocation for this run.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "description": "Memory allocation in mebibytes.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "description": "Disk allocation in mebibytes.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "acquire": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to ensure are\npre-allocated (warm) before the run starts. Values: `cpu`,\n`memory`, `disk`. Example: `\"cpu,memory\"`.\n"
          },
          "release": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to release after the run\nfinishes. Values: `cpu`, `memory`, `disk`. `\"cpu\"` frees\nvCPU but keeps memory hot for the next run on this VM;\n`\"cpu,memory,disk\"` is a full release (closest to a\nsuspend).\n"
          },
          "signal": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "SIGINT",
              "SIGTERM",
              "SIGKILL",
              "SIGHUP",
              null
            ],
            "description": "Deliver a signal to the selected persistent session's foreground process group. When set, the service does not execute `command`; it returns a completed acknowledgement with no run id. Use `session_id` or `session_idx` to select the session."
          },
          "policies": {
            "description": "Network policy applied to the VM before this run and retained afterward. A non-empty document replaces the persisted policy; an empty document selects the default posture of allow-all outbound traffic and authenticated inbound traffic. Omit it to use the current policy unchanged. If the policy cannot be stored and applied, the command does not run.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PolicyWriteRequest"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "RunResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CompletedRunResponse"
          },
          {
            "$ref": "#/components/schemas/BackgroundRunResponse"
          }
        ]
      },
      "CompletedRunResponse": {
        "type": "object",
        "required": [
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "description": "The run's own id. Present for executed runs; absent for operation acks (release/signal) with no run record.",
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "description": "Lifecycle state \u2014 \"completed\" for this shape. Read this (not the variant) for completion, uniformly with the run-status (`Run`) shape.",
            "type": "string"
          },
          "stdout": {
            "description": "Standard output produced by the command.",
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stdout. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "stderr": {
            "description": "Standard error produced by the command.",
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stderr. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "exit_code": {
            "description": "Process exit code. Null when no process completed.",
            "type": "integer"
          },
          "dispatch": {
            "description": "Execution mode selected by the service, when reported.",
            "type": [
              "string",
              "null"
            ]
          },
          "memory_requested_mib": {
            "description": "Requested total memory in MiB when this run included a memory override. Absent when no override was requested.",
            "type": [
              "integer",
              "null"
            ]
          },
          "memory_achieved_mib": {
            "description": "Achieved total memory in MiB after applying the run's memory override. A memory reduction is best-effort, so this value can exceed `memory_requested_mib` when guest pages cannot be released. Absent when no override was requested.",
            "type": [
              "integer",
              "null"
            ]
          },
          "memory_partial": {
            "description": "True when a requested memory reduction was only partially applied. The command runs with the achieved allocation, and `memory_achieved_mib` reports that allocation. Defaults to false.",
            "type": "boolean"
          }
        }
      },
      "BackgroundRunResponse": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "description": "Unique run identifier.",
            "type": "string"
          },
          "state": {
            "description": "Lifecycle state \u2014 \"running\" for a backgrounded run.",
            "type": "string"
          }
        }
      },
      "Run": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code",
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "description": "Unique run identifier.",
            "type": "string"
          },
          "session_id": {
            "description": "Unique session identifier.",
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "description": "Command submitted for execution.",
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "description": "RFC 3339 timestamp when execution or the session started.",
            "type": "string"
          },
          "completed_at": {
            "description": "RFC 3339 timestamp when execution reached a terminal state.",
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "description": "Process exit code. Null when no process completed.",
            "type": [
              "integer",
              "null"
            ]
          },
          "fail_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "Client-safe platform failure explanation when `state` is `failed`. Distinct from `stderr`, which is the program's own error output. Null for runs that ran to completion."
          },
          "stdout": {
            "description": "Standard output produced by the command.",
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stdout. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "stderr": {
            "description": "Standard error produced by the command.",
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stderr. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "retry_count": {
            "description": "Number of automatic recovery attempts for this run.",
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "description": "Customer-defined VM name.",
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "description": "Organization that owns the source VM.",
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "description": "Region containing the resource or activity.",
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "description": "Infrastructure provider that hosted the run.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Provider"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "RunSummary": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "description": "Unique run identifier.",
            "type": "string"
          },
          "session_id": {
            "description": "Unique session identifier.",
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "description": "Command submitted for execution.",
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "description": "RFC 3339 timestamp when execution or the session started.",
            "type": "string"
          },
          "completed_at": {
            "description": "RFC 3339 timestamp when execution reached a terminal state.",
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "description": "Process exit code. Null when no process completed.",
            "type": [
              "integer",
              "null"
            ]
          },
          "fail_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "System failure explanation when `state` is `failed` \u2014 see `Run.fail_reason`. Distinct from the program's `stderr`."
          },
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "description": "Customer-defined VM name.",
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "description": "Organization that owns the source VM.",
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "description": "Region containing the resource or activity.",
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "description": "Infrastructure provider that hosted the run.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/Provider"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ListRunsResponse": {
        "type": "object",
        "required": [
          "runs"
        ],
        "additionalProperties": false,
        "properties": {
          "runs": {
            "description": "Runs matching the request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunSummary"
            }
          },
          "next_cursor": {
            "description": "Cursor for the next page, or null when no further page is available.",
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "OrgRunListRow": {
        "type": "object",
        "required": [
          "source",
          "t_ms",
          "request_id",
          "run_id",
          "vm_id",
          "session_id",
          "region",
          "status",
          "total_ms",
          "queue_ms",
          "executor_duration_ms",
          "executor_kind",
          "executor_cpu_ms",
          "executor_mem_mb",
          "vm_vcpus",
          "vm_memory_mib",
          "path",
          "method",
          "command",
          "source_vm_id",
          "exit_code",
          "endpoint",
          "api_key_prefix",
          "body_bytes_in",
          "body_bytes_out",
          "body_in",
          "body_out"
        ],
        "additionalProperties": false,
        "properties": {
          "source": {
            "description": "Service that recorded the activity.",
            "type": "string",
            "enum": [
              "arkerd"
            ]
          },
          "t_ms": {
            "description": "Activity timestamp as Unix epoch milliseconds.",
            "type": "integer"
          },
          "request_id": {
            "description": "Request identifier used to correlate this activity.",
            "type": "string"
          },
          "run_id": {
            "description": "Unique run identifier.",
            "type": "string"
          },
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": "string"
          },
          "session_id": {
            "description": "Unique session identifier.",
            "type": "string"
          },
          "region": {
            "description": "Region containing the resource or activity.",
            "type": "string"
          },
          "status": {
            "description": "HTTP response status code.",
            "type": "integer"
          },
          "total_ms": {
            "description": "Total request duration in milliseconds.",
            "type": "number"
          },
          "queue_ms": {
            "description": "Time spent waiting for execution capacity, in milliseconds.",
            "type": "number"
          },
          "executor_duration_ms": {
            "description": "Wall-clock command execution time, in milliseconds.",
            "type": "integer"
          },
          "executor_kind": {
            "description": "Execution engine used for the command.",
            "type": "string"
          },
          "executor_cpu_ms": {
            "description": "CPU time consumed by command execution, in milliseconds.",
            "type": "integer"
          },
          "executor_mem_mb": {
            "description": "Peak memory attributed to command execution, in megabytes.",
            "type": "integer"
          },
          "vm_vcpus": {
            "description": "VM virtual CPU allocation at execution time.",
            "type": "integer"
          },
          "vm_memory_mib": {
            "description": "VM memory allocation at execution time, in mebibytes.",
            "type": "integer"
          },
          "path": {
            "description": "Path inside the VM.",
            "type": "string"
          },
          "method": {
            "description": "HTTP method.",
            "type": "string"
          },
          "command": {
            "description": "Command submitted for execution.",
            "type": "string"
          },
          "source_vm_id": {
            "description": "VM identifier used as the fork source.",
            "type": "string"
          },
          "exit_code": {
            "description": "Process exit code. Null when no process completed.",
            "type": [
              "integer",
              "null"
            ]
          },
          "endpoint": {
            "description": "API operation category associated with the activity.",
            "type": "string"
          },
          "api_key_prefix": {
            "description": "Non-secret prefix identifying the API key used for the request.",
            "type": "string"
          },
          "body_bytes_in": {
            "description": "Request body size in bytes.",
            "type": "integer"
          },
          "body_bytes_out": {
            "description": "Response body size in bytes.",
            "type": "integer"
          },
          "body_in": {
            "description": "Captured request body preview when included in the response.",
            "type": "string"
          },
          "body_out": {
            "description": "Captured response body preview when included in the response.",
            "type": "string"
          }
        }
      },
      "ListOrgRunsResponse": {
        "type": "object",
        "required": [
          "since",
          "until",
          "limit",
          "offset",
          "lite",
          "rows"
        ],
        "additionalProperties": false,
        "properties": {
          "since": {
            "description": "Inclusive start of the activity window, as Unix epoch seconds.",
            "type": "integer"
          },
          "until": {
            "description": "Exclusive end of the activity window, as Unix epoch seconds.",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of records requested.",
            "type": "integer"
          },
          "offset": {
            "description": "Number of matching records skipped before this page.",
            "type": "integer"
          },
          "lite": {
            "description": "When true, omit large request and response previews.",
            "type": "boolean"
          },
          "rows": {
            "description": "Activity records matching the request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgRunListRow"
            }
          }
        }
      },
      "CancelRunResponse": {
        "type": "object",
        "required": [
          "cancelled"
        ],
        "additionalProperties": false,
        "properties": {
          "cancelled": {
            "description": "True when the run was cancelled.",
            "type": "boolean"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "env": {
            "description": "Environment variables to set for the session.",
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "cwd": {
            "description": "Working directory inside the VM.",
            "type": [
              "string",
              "null"
            ]
          },
          "pty": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Mark this session for an interactive PTY. The PTY stream is attached separately through the session WebSocket endpoint."
          },
          "cols": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 1000,
            "description": "Advisory initial terminal width in columns. The WebSocket attach query may override it."
          },
          "rows": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 1000,
            "description": "Advisory initial terminal height in rows. The WebSocket attach query may override it."
          },
          "command": {
            "type": [
              "string",
              "null"
            ],
            "description": "Advisory command for an interactive PTY session."
          }
        }
      },
      "PtyTicketResponse": {
        "type": "object",
        "required": [
          "ticket",
          "expires_in"
        ],
        "additionalProperties": false,
        "properties": {
          "ticket": {
            "description": "Short-lived credential for opening the terminal WebSocket.",
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "description": "Seconds until expiry."
          }
        }
      },
      "Sync": {
        "type": "object",
        "required": [
          "sync_id",
          "vm_id",
          "filesystem_id",
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "sync_id": {
            "description": "Unique sync identifier.",
            "type": "string"
          },
          "vm_id": {
            "description": "Unique VM identifier.",
            "type": "string"
          },
          "filesystem_id": {
            "description": "Unique filesystem identifier.",
            "type": "string"
          },
          "path": {
            "type": "string",
            "description": "VM-side path where the filesystem is mounted."
          },
          "region": {
[...]
