{
  "openapi": "3.1.0",
  "info": {
    "title": "Arker Public VM API",
    "version": "0.3.0",
    "description": "Public VM and control-plane API contract. Backend VM endpoints expose the same wire\nshapes; backend-specific feature limitations are returned as\n`ErrorResponse` with `code: \"unsupported_operation\"`.\n"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://aws-us-west-2.arker.ai"
    }
  ],
  "x-arker-source": "arker-app/shared/arker-api-contract",
  "x-arker-route-aliases": [
    {
      "operationId": "createRun",
      "method": "POST",
      "path": "/v1/vms/{id}/run"
    }
  ],
  "x-arker-runtime-routes": [
    {
      "operationId": "benchmark",
      "method": "POST",
      "path": "/v1/benchmark"
    },
    {
      "operationId": "createVmLegacy",
      "method": "POST",
      "path": "/v1/vms"
    },
    {
      "operationId": "listVmsLegacy",
      "method": "GET",
      "path": "/v1/vms/list"
    },
    {
      "operationId": "listVmSourcesLegacy",
      "method": "GET",
      "path": "/v1/vms/sources"
    },
    {
      "operationId": "forkVmByRefLegacy",
      "method": "POST",
      "path": "/v1/vms/fork"
    },
    {
      "operationId": "forkVmLegacy",
      "method": "POST",
      "path": "/v1/vms/{id}/fork"
    },
    {
      "operationId": "resizeVmLegacy",
      "method": "POST",
      "path": "/v1/vms/{id}/resize"
    },
    {
      "operationId": "debugExecVm",
      "method": "POST",
      "path": "/v1/vms/{id}/debug_exec"
    },
    {
      "operationId": "resizeSessionLegacy",
      "method": "POST",
      "path": "/v1/vms/{id}/sessions/{sid}/resize"
    },
    {
      "operationId": "getSyncLegacy",
      "method": "GET",
      "path": "/v1/vms/{id}/syncs/{sync_id}"
    },
    {
      "operationId": "syncReadLegacy",
      "method": "POST",
      "path": "/v1/vms/{id}/syncs/read"
    },
    {
      "operationId": "syncWriteLegacy",
      "method": "POST",
      "path": "/v1/vms/{id}/syncs/write"
    },
    {
      "operationId": "syncUpload",
      "method": "POST",
      "path": "/v1/vms/{id}/sync/upload"
    },
    {
      "operationId": "listVmMounts",
      "method": "GET",
      "path": "/v1/vms/{id}/sync/mount"
    },
    {
      "operationId": "createVmMount",
      "method": "POST",
      "path": "/v1/vms/{id}/sync/mount"
    },
    {
      "operationId": "getVmMountLegacy",
      "method": "GET",
      "path": "/v1/vms/{id}/sync/mount/{sync_id}"
    },
    {
      "operationId": "deleteVmMount",
      "method": "DELETE",
      "path": "/v1/vms/{id}/sync/mount/{dir_id}"
    },
    {
      "operationId": "listTunnelsLegacy",
      "method": "GET",
      "path": "/v1/vms/{id}/tunnels"
    },
    {
      "operationId": "getTunnelLegacy",
      "method": "GET",
      "path": "/v1/vms/{id}/tunnels/{port}"
    },
    {
      "operationId": "deleteTunnelLegacy",
      "method": "DELETE",
      "path": "/v1/vms/{id}/tunnels/{port}"
    },
    {
      "operationId": "listSharedDirs",
      "method": "GET",
      "path": "/v1/dirs"
    },
    {
      "operationId": "createSharedDir",
      "method": "POST",
      "path": "/v1/dirs"
    },
    {
      "operationId": "getSharedDirByName",
      "method": "GET",
      "path": "/v1/dirs/by-name/{name}"
    },
    {
      "operationId": "getSharedDir",
      "method": "GET",
      "path": "/v1/dirs/{dir_id}"
    },
    {
      "operationId": "deleteSharedDir",
      "method": "DELETE",
      "path": "/v1/dirs/{dir_id}"
    },
    {
      "operationId": "syncSharedDir",
      "method": "POST",
      "path": "/v1/dirs/{dir_id}/sync"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Service is ready to accept public API traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service is live but not currently ready to accept public API traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Public health/readiness probe. The response body is intentionally minimal and does not expose host, region, release, or golden-image internals."
      }
    },
    "/v1/fork": {
      "post": {
        "operationId": "fork",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a new VM by forking from an image, an existing VM ID, or\na VM name within an org. Exactly one of `source_image`,\n`source_vm_id`, or `source_vm_name` must be set. Forking a VM\nowned by another org requires that VM to be `public: true`.\n"
      }
    },
    "/v1/vms": {
      "get": {
        "operationId": "listVms",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Narrow to a single backend region (e.g. `us-west-2`). When omitted, the response aggregates across every configured region.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Narrow results to a cloud provider.",
            "schema": {
              "type": "string",
              "enum": [
                "aws"
              ]
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Filter by VM lifecycle state.",
            "schema": {
              "$ref": "#/components/schemas/VmState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "description": "ISO 8601 timestamp; include only VMs that most recently started at or after this time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "description": "ISO 8601 timestamp; include only VMs that most recently started at or before this time.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VMs visible to the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListVmsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listOrgRuns",
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "required": false,
            "description": "Unix epoch seconds; include runs at or after this time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "until",
            "required": false,
            "description": "Unix epoch seconds; include runs before this time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "vm",
            "required": false,
            "description": "Single VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vms",
            "required": false,
            "description": "Comma-separated VM ID filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "region",
            "required": false,
            "description": "Backend region filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "provider",
            "required": false,
            "description": "Cloud provider filter.",
            "schema": {
              "type": "string",
              "enum": [
                "aws"
              ]
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "description": "Free-text search across run metadata.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Number of rows to skip.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "in": "query",
            "name": "lite",
            "required": false,
            "description": "When true, omit large input/output previews where supported by the backend.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "runtime",
            "required": false,
            "description": "Runtime filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endpoint",
            "required": false,
            "description": "Endpoint category filter.",
            "schema": {
              "type": "string",
              "enum": [
                "run",
                "fork",
                "sync"
              ]
            }
          },
          {
            "in": "query",
            "name": "actions",
            "required": false,
            "description": "Comma-separated action filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "description": "Comma-separated status class filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status_min",
            "required": false,
            "description": "Minimum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "status_max",
            "required": false,
            "description": "Maximum HTTP/status code filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "description": "Sort column.",
            "schema": {
              "type": "string",
              "enum": [
                "when",
                "status",
                "path",
                "total",
                "queue",
                "your_code",
                "runtime"
              ]
            }
          },
          {
            "in": "query",
            "name": "dir",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs visible to the authenticated caller across VMs, providers, and regions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrgRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Control-plane listing of run activity visible to the authenticated caller across VMs, providers, and regions."
      }
    },
    "/v1/vms/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVm",
        "responses": {
          "200": {
            "description": "VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteVm",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVmResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "patchVm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchVmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated VM details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "getVmPolicies",
        "responses": {
          "200": {
            "description": "The VM's egress policy document (empty when none is set).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyDoc"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "putVmPolicies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyDoc"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stored policy, plus the domains it escalates to MITM and any degrade warnings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutPoliciesResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createRun",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Run a command. Foreground execution is the portable baseline.\nOptional `background`, `session_id`, `network`, `signal`,\n`acquire`/`release`, and per-run resource overrides may return\n`unsupported_operation` on backends that don't support them.\n"
      },
      "get": {
        "operationId": "listRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/RunState"
            }
          },
          {
            "in": "query",
            "name": "started_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "started_before",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "completed_after",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRunsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/runs/{run_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "operationId": "getRun",
        "responses": {
          "200": {
            "description": "Run status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "cancelRun",
        "responses": {
          "200": {
            "description": "Cancel result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRunResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "get": {
        "operationId": "listSessions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SessionState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VM sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionsResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createSession",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "get": {
        "operationId": "getSession",
        "responses": {
          "200": {
            "description": "Session details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "patchSession",
        "summary": "Update a session (resize PTY / set timeout)",
        "description": "Resize the session's PTY (cols/rows) and/or update its idle timeout. Resize is delivered to a LIVE attached PTY in-band; if the PTY is detached, it is applied directly to the session's runtime; if no PTY has ever attached, the call is accepted as a no-op. REST equivalent of the WebSocket {\"type\":\"resize\"} control frame \u2014 usable from any client, attached or not.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cols": {
                    "type": "integer",
                    "description": "New terminal width in columns (1-1000). Provide together with rows."
                  },
                  "rows": {
                    "type": "integer",
                    "description": "New terminal height in rows (1-1000). Provide together with cols."
                  },
                  "timeout_secs": {
                    "type": "integer",
                    "description": "Idle auto-cancel window for the PTY; applies on the next attach."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "session_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSessionResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        },
        {
          "name": "cols",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 80
          },
          "description": "Initial terminal width in columns."
        },
        {
          "name": "rows",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "default": 24
          },
          "description": "Initial terminal height in rows."
        },
        {
          "name": "command",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Single executable path to launch (no shell-splitting). Defaults to the login shell."
        },
        {
          "name": "persist",
          "in": "query",
          "required": false,
          "schema": {
            "type": "boolean",
            "default": true
          },
          "description": "E2B-style persistence. When true (default), disconnecting keeps the shell running so the same session_id can RECONNECT to it (recent scrollback is replayed); when false the shell is torn down on disconnect. {\"type\":\"kill\"} or the server idle TTL destroy a persistent shell."
        },
        {
          "name": "ticket",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Browser auth: a short-lived ticket from POST .../pty-ticket, used in place of the Authorization header (which a browser WebSocket cannot set)."
        }
      ],
      "get": {
        "operationId": "attachSessionPty",
        "summary": "Open an interactive PTY (WebSocket upgrade)",
        "description": "Upgrades to a WebSocket carrying an interactive pseudo-terminal in the VM, reusing the same in-guest PTY as SSH. Auth on the upgrade is a Bearer key (a key may only attach to its own org's VMs) OR a ?ticket= for browsers. Reopening with the same session_id RECONNECTS to the same running shell when persist=true (scrollback replayed). Wire format: server\u2192client Binary frames are raw terminal output (ANSI escapes/colors intact); client\u2192server Binary frames are stdin bytes (control chars like 0x03=Ctrl-C raise SIGINT via the guest tty); client\u2192server Text frames are JSON control: {\"type\":\"resize\",\"cols\":N,\"rows\":M}, {\"type\":\"kill\"}, {\"type\":\"ping\"}. A plain socket close DETACHES (persist) or tears down; {\"type\":\"kill\"} always destroys. Caps: one live attachment per session, ARKER_PTY_MAX_PER_VM per VM, ARKER_PTY_MAX_PER_ORG per org (429 past limits); oversized stdin (>64KiB) or control (>4KiB) frames close the connection; idle (ARKER_PTY_IDLE_SECS) closes the connection.",
        "responses": {
          "101": {
            "description": "Switching Protocols \u2014 the WebSocket PTY stream is established."
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sessions/{sid}/pty-ticket": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SessionId"
        }
      ],
      "post": {
        "operationId": "mintSessionPtyTicket",
        "summary": "Mint a browser PTY ticket",
        "description": "Returns a short-lived (5 min, multi-use) ticket for opening the PTY WebSocket from a browser, which cannot send an Authorization header. Bearer-authed; the caller must own the VM. Open wss://.../pty?ticket=<ticket> with it. The ticket is a stateless HMAC bound to (org, vm, session), so it validates on any node.",
        "responses": {
          "200": {
            "description": "Ticket minted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ticket",
                    "expires_in"
                  ],
                  "properties": {
                    "ticket": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Seconds until expiry."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "createSync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created sync.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Create a persistent sync: ensure a Filesystem exists (creating\none if requested) and bind-mount it into this VM at `path`.\nBidirectional by virtue of being a mount \u2014 there is no separate\nsync-direction parameter. Returns `ErrorResponse` code\n`conflict` if a sync already exists at `path`.\n"
      },
      "get": {
        "operationId": "listSyncs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "filesystem_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Syncs on this VM.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSyncsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/syncs/{sync_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        },
        {
          "$ref": "#/components/parameters/SyncId"
        }
      ],
      "delete": {
        "operationId": "deleteSync",
        "responses": {
          "200": {
            "description": "Delete result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSyncResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/vms/{id}/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/VmId"
        }
      ],
      "post": {
        "operationId": "sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SyncReadOperationRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SyncWriteOperationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Read or write result, matching the request op.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SyncReadResponse"
                    },
                    {
                      "$ref": "#/components/schemas/SyncWriteResponse"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Read or write files in the VM filesystem. Op-discriminated:\n`{op:\"read\",path}` reads a file (inline content for small files, a\npresigned GET URL for large ones); `{op:\"write\",writes:[...]}` writes,\neach entry an inline chunk or a presigned-upload step. Binding a\nfilesystem into the VM is the separate `/v1/vms/{id}/syncs` resource.\n"
      }
    },
    "/v1/filesystems": {
      "get": {
        "operationId": "listFilesystems",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "in": "query",
            "name": "name_prefix",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org-scoped persistent filesystems.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesystemsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createFilesystem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilesystemCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created filesystem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/UnsupportedOperation"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/filesystems/{filesystem_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FilesystemId"
        }
      ],
      "get": {
        "operationId": "getFilesystem",
        "responses": {
          "200": {
            "description": "Filesystem details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filesystem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteFilesystem",
        "responses": {
          "200": {
            "description": "Delete result. The filesystem must not be mounted by any VM (no remaining `Sync` referencing it).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFilesystemResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "VmId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "RunId": {
        "name": "run_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SessionId": {
        "name": "sid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SyncId": {
        "name": "sync_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "FilesystemId": {
        "name": "filesystem_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor returned by the previous page's `next_cursor`.",
        "schema": {
          "type": [
            "string",
            "null"
          ]
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Max items per page. Backend caps may apply.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "The organization must complete billing setup or payment before starting new compute.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error": {
        "description": "API error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnsupportedOperation": {
        "description": "The request is valid, but this backend does not support the requested operation or option.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unsupportedOperation": {
                "summary": "Unsupported backend feature",
                "value": {
                  "code": "unsupported_operation",
                  "message": "background runs are not supported on this backend"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "description": "Readiness status. `ok` means the service is ready; other values may be returned with HTTP 503."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Server time when the health response was generated."
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "unsupported_operation",
          "bad_request",
          "unauthorized",
          "forbidden",
          "payment_required",
          "not_found",
          "conflict",
          "payload_too_large",
          "not_implemented",
          "resource_pressure",
          "internal",
          "unavailable",
          "network_error"
        ],
        "description": "Stable machine-readable error code. `unsupported_operation` means the backend doesn't implement the requested optional feature. `payment_required` means billing setup or payment is required before new compute can start."
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string",
            "description": "Human-readable, client-safe error message. For `code: \"internal\"`, this is intentionally generic; server logs retain the underlying cause."
          }
        }
      },
      "VmState": {
        "type": "string",
        "enum": [
          "idle",
          "running"
        ],
        "description": "Unified lifecycle state for a VM or a Session. `idle` means no command is currently executing; `running` means a command is in flight."
      },
      "SessionState": {
        "$ref": "#/components/schemas/VmState"
      },
      "RunState": {
        "type": "string",
        "enum": [
          "running",
          "completed",
          "failed",
          "cancelled"
        ],
        "description": "Lifecycle state for a Run. `running` = command in flight.\n`completed` = the command ran to completion; `exit_code` conveys\nsuccess (0) or a non-zero program exit (a non-zero exit is still\n`completed`). `failed` = the platform could not run or finish the\ncommand (host died, evicted mid-run, exec error); `fail_reason`\nexplains why, distinct from the program's `stderr`. `cancelled` =\ncancelled by the client.\n"
      },
      "ResourceKind": {
        "type": "string",
        "enum": [
          "cpu",
          "memory",
          "disk"
        ]
      },
      "NetworkPolicy": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type"
            ],
            "additionalProperties": false,
            "properties": {
              "type": {
                "const": "open"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type"
            ],
            "additionalProperties": false,
            "properties": {
              "type": {
                "const": "blocked"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "allow"
            ],
            "additionalProperties": false,
            "properties": {
              "type": {
                "const": "allow"
              },
              "allow": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "block"
            ],
            "additionalProperties": false,
            "properties": {
              "type": {
                "const": "block"
              },
              "block": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "description": "Outbound egress policy stored on the VM."
      },
      "NetworkPolicyInput": {
        "anyOf": [
          {
            "type": "boolean"
          },
          {
            "type": "string",
            "enum": [
              "open",
              "blocked",
              "true",
              "false",
              "none"
            ]
          },
          {
            "$ref": "#/components/schemas/NetworkPolicy"
          }
        ],
        "description": "Outbound egress policy input. `true`/`open` means unrestricted; `false`/`blocked`/`none` means deny all."
      },
      "PolicyDoc": {
        "type": "object",
        "additionalProperties": false,
        "description": "A VM's egress policy document (ARK-125): an ordered, first-match-wins rule list. Empty `policies` means no policy (allow-all). The engine default when no rule matches is DENY (fail-closed); an explicit catch-all `{ \"type\": \"outbound\", \"action\": \"allow\" }` rule expresses default-allow.",
        "properties": {
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PolicyEntry"
            }
          }
        }
      },
      "PolicyEntry": {
        "type": "object",
        "required": [
          "type",
          "action"
        ],
        "additionalProperties": false,
        "description": "One policy rule. `match` AND's its present fields (absent \u21d2 catch-all).",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "outbound",
              "inbound"
            ],
            "description": "Event family: `outbound` (egress) or `inbound` (expose a guest port). An unknown value is rejected with 400. The legacy `network.outbound` spelling is still accepted on input for outbound."
          },
          "match": {
            "$ref": "#/components/schemas/PolicyMatch"
          },
          "action": {
            "$ref": "#/components/schemas/PolicyAction"
          },
          "auth": {
            "type": "string",
            "enum": [
              "open",
              "authenticated"
            ],
            "description": "Inbound `allow` only: the exposed tunnel's auth posture. `open` = public (no bearer); `authenticated` (the default when absent) requires the org bearer key. Invalid on a `deny` or any outbound rule (400). Inbound `match.ports` must be explicit single ports (ranges are rejected)."
          }
        }
      },
      "PolicyMatch": {
        "type": "object",
        "additionalProperties": false,
        "description": "Match criteria: present fields AND'd; list items OR'd. `ips` and `hosts` are mutually exclusive. L4 fields = ports/ips/hosts; L7 fields = methods/paths/headers/body_contains. A rule with any L7 field is enforced at the request layer by the managed MITM proxy; where the proxy is not active for a VM the rule degrades to its host/L4 projection \u2014 allow \u2192 host-allow, deny/rewrite \u2192 fail-closed deny.",
        "properties": {
          "ports": {
            "type": "array",
            "description": "Single ports and/or inclusive [start, end] ranges, e.g. [80, 443, [1000, 2000]]. Empty/absent = any port.",
            "items": {
              "oneOf": [
                {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 65535
                },
                {
                  "type": "array",
                  "description": "Inclusive [start, end] port range.",
                  "items": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 65535
                  },
                  "minItems": 2,
                  "maxItems": 2
                }
              ]
            }
          },
          "ips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IPs or CIDRs."
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Label-boundary suffix match on the request host: `github.com` matches `api.github.com`, not `evilgithub.com`."
          },
          "methods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "paths": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Full-segment path prefixes."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Header name \u2192 any-of values (names AND'd, a name's values OR'd)."
          },
          "body_contains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PolicyAction": {
        "oneOf": [
          {
            "type": "string",
            "enum": [
              "allow",
              "deny"
            ]
          },
          {
            "type": "object",
            "additionalProperties": false,
            "description": "A mutating action: at least one of `rewrite` / `gate` must be present. The request is forwarded upstream (applying `rewrite` if present); a `gate` blocks it until an outbound HTTP check allows it.",
            "properties": {
              "rewrite": {
                "$ref": "#/components/schemas/Rewrite"
              },
              "gate": {
                "$ref": "#/components/schemas/Gate"
              }
            }
          }
        ],
        "description": "allow / deny, or a mutating object `{ rewrite?, gate? }`. A mutating action needs the MITM data-path (terminate TLS to rewrite headers / read the body / gate the request)."
      },
      "Rewrite": {
        "type": "object",
        "additionalProperties": false,
        "description": "Mutate-and-forward. Host/path/header/body values support request-time `$`-token interpolation: `$domain`, `$path`, `$method`, `$vm_id`, `$body` (the request body as received, also `${\u2026}`-braced), and `$$` for a literal `$`. Unknown/unresolved tokens pass through unchanged.",
        "properties": {
          "host": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Merge-set these request headers (not replace-all)."
          },
          "remove_headers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "body": {
            "type": "string",
            "description": "Replace the request body entirely with this (interpolated) value; `$body` re-injects the original body. Absent = body forwarded unchanged."
          }
        }
      },
      "Gate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "host",
          "allow_on_status"
        ],
        "description": "`action.gate`: a BLOCKING outbound HTTP check. When the rule matches, the proxy makes this HTTP request and WAITS before opening the guest's outbound connection; the response STATUS decides \u2014 status in `allow_on_status` => forward (applying any sibling `rewrite`), any other status => deny (403). A timeout / connection failure => `deny_on_timeout` (default fail-closed). Generic client: the target may be any endpoint (external authz / LLM / the arker `/run` API); the run-spec, if any, lives in `body`. `path` / header VALUES / string leaves of `body` are `$`-interpolated ($domain/$path/$method/$vm_id/$body); `host` is NOT interpolated (SSRF lever). Values injected into the JSON `body` are JSON-escaped. The outbound connection is SSRF-reguarded (refuses internal / link-local / RFC1918).",
        "properties": {
          "host": {
            "type": "string",
            "description": "Target endpoint INCLUDING scheme, e.g. https://authz.example.com. Not interpolated."
          },
          "path": {
            "type": "string",
            "description": "Request path (interpolated). Default /."
          },
          "method": {
            "type": "string",
            "description": "HTTP method. Default GET."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Request headers (values interpolated). A stored credential (e.g. authorization) is encrypted at rest and REDACTED on policy read-back."
          },
          "body": {
            "description": "JSON request body; string leaves are interpolated and JSON-escaped. Absent = no body."
          },
          "allow_on_status": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "HTTP status codes that mean ALLOW. Any other status denies. Must be non-empty."
          },
          "deny_on_timeout": {
            "type": "boolean",
            "description": "Verdict on timeout / connection failure: true = deny (fail-closed, default), false = allow (fail-open)."
          },
          "timeout_ms": {
            "type": "integer",
            "description": "Max wall-clock for the gate call before it is abandoned (then deny_on_timeout applies). Default ~30000."
          }
        }
      },
      "PutPoliciesResponse": {
        "type": "object",
        "required": [
          "policy"
        ],
        "additionalProperties": false,
        "description": "Response to PUT /v1/vms/{id}/policies.",
        "properties": {
          "policy": {
            "$ref": "#/components/schemas/PolicyDoc",
            "description": "The stored policy document \u2014 read its rules as `policy.policies`."
          },
          "mitm_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Domains the policy escalates to the MITM proxy."
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Non-fatal notes (e.g. rules degraded where the MITM data path is not active)."
          }
        }
      },
      "ForkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Global VM identifier. Org is inferred from the row."
          },
          "source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name within an org. Defaults `source_org_id` to the caller's org. A different org must be either the Arker org (for public goldens such as `ubuntu`) or one with a `public: true` VM by that name."
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional explicit org context for `source_vm_name`. SDK auto-fills the Arker org when forking the public goldens."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional name for the new VM, scoped to the caller's org."
          },
          "public": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Make the new VM publicly forkable from other orgs."
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkInput"
              },
              {
                "type": "null"
              }
            ],
            "description": "Inbound reachability and SSH authorized keys for the new VM."
          },
          "egress": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkPolicyInput"
              },
              {
                "type": "null"
              }
            ],
            "description": "Outbound egress policy for the new VM. Omit it to inherit the source VM's policy."
          },
          "disk": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "durable": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "platforms": {
            "description": "Desired platform(s) when forking a golden, e.g. [\"graviton3\"] or a flexible set [\"graviton2\",\"graviton3\"]. The fork is scheduled onto a host serving one of these, intersected with the platforms the golden is baked for. Optional: omit (null) or pass an empty list for no preference \u2014 the router picks from the golden's available platforms, weighted by host availability. Requesting a platform the golden isn't baked for returns 400. Ignored when forking an existing VM, which inherits its parent's platform.",
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "policies": {
            "description": "ARK-125 outbound policy for the new VM. Omit (null) to inherit the source VM's policy, re-encrypted under the child's own key. Present (even an empty doc) replaces it: an empty doc clears to allow-all rather than inheriting. Distinct from `egress` (legacy NetworkPolicy) and `network` (inbound).",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PolicyDoc"
              },
              {
                "type": "null"
              }
            ]
          },
          "resources": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VmResources"
              },
              {
                "type": "null"
              }
            ],
            "description": "Resource shape for the new VM."
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "session_id",
          "state",
          "cwd"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": "string"
          },
          "session_idx": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "state": {
            "$ref": "#/components/schemas/SessionState"
          },
          "cwd": {
            "type": "string"
          },
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional environment-variable overrides for this session."
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              null
            ]
          }
        }
      },
      "ListSessionsResponse": {
        "type": "object",
        "required": [
          "sessions"
        ],
        "additionalProperties": false,
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Vm": {
        "type": "object",
        "required": [
          "vm_id",
          "owner_org_id",
          "created_at",
          "public",
          "state",
          "sessions",
          "resources",
          "network"
        ],
        "additionalProperties": false,
        "properties": {
          "vm_id": {
            "type": "string"
          },
          "owner_org_id": {
            "type": "string",
            "description": "Org that owns this VM."
          },
          "created_at": {
            "type": "string"
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "VM name, scoped to `owner_org_id`."
          },
          "public": {
            "type": "boolean",
            "description": "When `true`, other orgs can fork this VM (but cannot run on it)."
          },
          "root_source_vm_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of the root (deepest-ancestor) source VM, if this VM was created by a chain of forks. None for VMs forked directly from an image."
          },
          "root_source_vm_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Name of the root source VM. Populated together with `root_source_vm_id`."
          },
          "state": {
            "$ref": "#/components/schemas/VmState"
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              null
            ]
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "network": {
            "$ref": "#/components/schemas/VmNetwork",
            "description": "Inbound reachability settings for this VM."
          },
          "max_vcpus": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Hard vCPU ceiling for a fork of this VM (KVM slot count). Requesting more fails the run."
          },
          "min_vcpus": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255,
            "description": "Smallest vCPU count accepted for this VM."
          },
          "max_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Hard memory ceiling (MiB) a fork can hotplug up to."
          },
          "min_memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Non-hotpluggable base memory (MiB)."
          },
          "min_disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Smallest disk size (MiB) accepted for this VM. `0` means nodisk."
          },
          "max_disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Largest disk size (MiB) accepted for this VM. `0` means nodisk."
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Session"
            }
          },
          "resources": {
            "$ref": "#/components/schemas/VmResources",
            "description": "Current VM resource allocation."
          }
        }
      },
      "ListVmsResponse": {
        "type": "object",
        "required": [
          "vms"
        ],
        "additionalProperties": false,
        "properties": {
          "vms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteVmResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "DeleteSessionResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "RunRequest": {
        "type": "object",
        "required": [
          "command"
        ],
        "additionalProperties": false,
        "properties": {
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "session_idx": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "command": {
            "type": "string"
          },
          "background": {
            "type": "boolean",
            "default": false
          },
          "timeout": {
            "description": "Execution/kill bound in seconds: max wall-clock time the command runs before the host kills it. Omitted defaults to 3600 (1 hour). 0 explicitly disables the bound. Separate from the HTTP sync window — see time_to_background.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "time_to_background": {
            "description": "Sync window in seconds: how long the HTTP call blocks before backgrounding the run and returning a pollable run_id. Omitted defaults to 30. Does not bound command runtime — that is timeout.",
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "end_symbol": {
            "type": [
              "string",
              "null"
            ],
            "default": "auto"
          },
          "vcpu_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 255
          },
          "memory_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "disk_mib": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "network": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NetworkRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "acquire": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to ensure are\npre-allocated (warm) before the run starts. Values: `cpu`,\n`memory`, `disk`. Example: `\"cpu,memory\"`.\n"
          },
          "release": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of resources to release after the run\nfinishes. Values: `cpu`, `memory`, `disk`. `\"cpu\"` frees\nvCPU but keeps memory hot for the next run on this VM;\n`\"cpu,memory,disk\"` is a full release (closest to a\nsuspend).\n"
          },
          "signal": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "NetworkRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InboundRequest"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "InboundRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortRequest"
            },
            "default": {}
          }
        }
      },
      "InboundPortRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "visibility": {
            "type": "string",
            "default": "private"
          },
          "protocol": {
            "type": "string",
            "default": "http"
          }
        }
      },
      "RunResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CompletedRunResponse"
          },
          {
            "$ref": "#/components/schemas/BackgroundRunResponse"
          }
        ]
      },
      "CompletedRunResponse": {
        "type": "object",
        "required": [
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "description": "The run's own id. Present for executed runs; absent for operation acks (release/signal) with no run record.",
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "description": "Lifecycle state \u2014 \"completed\" for this shape. Read this (not the variant) for completion, uniformly with the run-status (`Run`) shape.",
            "type": "string"
          },
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stdout. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stderr. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "exit_code": {
            "type": "integer"
          },
          "dispatch": {
            "type": [
              "string",
              "null"
            ]
          },
          "memory_requested_mib": {
            "description": "ARK-107: requested total memory (MiB) when this run carried an explicit memory override. Absent when the run had no memory override.",
            "type": [
              "integer",
              "null"
            ]
          },
          "memory_achieved_mib": {
            "description": "ARK-107: achieved total memory (MiB) after the run's resize. Memory shrink is best-effort, so this can exceed memory_requested_mib when guest pages are pinned. Absent when the run had no memory override.",
            "type": [
              "integer",
              "null"
            ]
          },
          "memory_partial": {
            "description": "ARK-107: true when the run's memory shrink was partial (achieved differs from requested beyond the virtio-mem block granularity). The command still ran at the achieved footprint (best-effort); this flags the gap instead of a silent success. Defaults false.",
            "type": "boolean"
          }
        }
      },
      "BackgroundRunResponse": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "state": {
            "description": "Lifecycle state \u2014 \"running\" for a backgrounded run.",
            "type": "string"
          }
        }
      },
      "Run": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code",
          "stdout",
          "stdout_encoding",
          "stderr",
          "stderr_encoding"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "fail_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "System failure explanation when `state` is `failed` (e.g. \"host died:&nbsp;<id>\", \"evicted mid-run\"). Distinct from `stderr`, which is the program's own error output. Null for runs that ran to completion."
          },
          "stdout": {
            "type": "string"
          },
          "stdout_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stdout. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "stderr": {
            "type": "string"
          },
          "stderr_encoding": {
            "type": "string",
            "enum": ["utf-8", "base64"],
            "description": "Encoding used for stderr. Valid UTF-8 is returned directly; arbitrary bytes are base64 encoded."
          },
          "retry_count": {
            "type": "integer",
            "minimum": 0,
            "default": 0
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              null
            ]
          }
        }
      },
      "RunSummary": {
        "type": "object",
        "required": [
          "run_id",
          "state",
          "started_at",
          "exit_code"
        ],
        "additionalProperties": false,
        "properties": {
          "run_id": {
            "type": "string"
          },
          "session_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "command": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/RunState"
          },
          "started_at": {
            "type": "string"
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "fail_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "System failure explanation when `state` is `failed` \u2014 see `Run.fail_reason`. Distinct from the program's `stderr`."
          },
          "vm_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "vm_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "source_org_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              null
            ]
          }
        }
      },
      "ListRunsResponse": {
        "type": "object",
        "required": [
          "runs"
        ],
        "additionalProperties": false,
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunSummary"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "OrgRunListRow": {
        "type": "object",
        "required": [
          "source",
          "t_ms",
          "request_id",
          "run_id",
          "vm_id",
          "session_id",
          "region",
          "status",
          "total_ms",
          "queue_ms",
          "executor_duration_ms",
          "executor_kind",
          "executor_cpu_ms",
          "executor_mem_mb",
          "vm_vcpus",
          "vm_memory_mib",
          "path",
          "method",
          "command",
          "source_vm_id",
          "exit_code",
          "endpoint",
          "api_key_prefix",
          "body_bytes_in",
          "body_bytes_out",
          "body_in",
          "body_out"
        ],
        "additionalProperties": false,
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "arkerd"
            ]
          },
          "t_ms": {
            "type": "integer"
          },
          "request_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "vm_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "total_ms": {
            "type": "number"
          },
          "queue_ms": {
            "type": "number"
          },
          "executor_duration_ms": {
            "type": "integer"
          },
          "executor_kind": {
            "type": "string"
          },
          "executor_cpu_ms": {
            "type": "integer"
          },
          "executor_mem_mb": {
            "type": "integer"
          },
          "vm_vcpus": {
            "type": "integer"
          },
          "vm_memory_mib": {
            "type": "integer"
          },
          "path": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "source_vm_id": {
            "type": "string"
          },
          "exit_code": {
            "type": [
              "integer",
              "null"
            ]
          },
          "endpoint": {
            "type": "string"
          },
          "api_key_prefix": {
            "type": "string"
          },
          "body_bytes_in": {
            "type": "integer"
          },
          "body_bytes_out": {
            "type": "integer"
          },
          "body_in": {
            "type": "string"
          },
          "body_out": {
            "type": "string"
          }
        }
      },
      "ListOrgRunsResponse": {
        "type": "object",
        "required": [
          "since",
          "until",
          "limit",
          "offset",
          "lite",
          "rows"
        ],
        "additionalProperties": false,
        "properties": {
          "since": {
            "type": "integer"
          },
          "until": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "lite": {
            "type": "boolean"
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrgRunListRow"
            }
          }
        }
      },
      "NetworkStatus": {
        "type": "object",
        "required": [
          "inbound"
        ],
        "additionalProperties": false,
        "properties": {
          "inbound": {
            "$ref": "#/components/schemas/InboundStatus"
          }
        }
      },
      "InboundStatus": {
        "type": "object",
        "required": [
          "ports"
        ],
        "additionalProperties": false,
        "properties": {
          "ports": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/InboundPortStatus"
            }
          }
        }
      },
      "InboundPortStatus": {
        "type": "object",
        "required": [
          "requested",
          "observed",
          "effective",
          "protocol"
        ],
        "additionalProperties": false,
        "properties": {
          "requested": {
            "type": "string"
          },
          "observed": {
            "type": "string"
          },
          "effective": {
            "type": "string"
          },
          "protocol": {
            "type": "string"
          },
          "url": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CancelRunResponse": {
        "type": "object",
        "required": [
          "cancelled"
        ],
        "additionalProperties": false,
        "properties": {
          "cancelled": {
            "type": "boolean"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "env": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "cwd": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Sync": {
        "type": "object",
        "required": [
          "sync_id",
          "vm_id",
          "filesystem_id",
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "sync_id": {
            "type": "string"
          },
          "vm_id": {
            "type": "string"
          },
          "filesystem_id": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "description": "VM-side path where the filesystem is mounted. Same field name as used by `SyncReadRequest.path`."
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ListSyncsResponse": {
        "type": "object",
        "required": [
          "syncs"
        ],
        "additionalProperties": false,
        "properties": {
          "syncs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sync"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteSyncResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "SyncCreateRequest": {
        "type": "object",
        "required": [
          "filesystem_id"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystem_id": {
            "type": "string"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "SyncReadRequest": {
        "type": "object",
        "required": [
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          }
        }
      },
      "SyncWriteRequest": {
        "type": "object",
        "required": [
          "writes"
        ],
        "additionalProperties": false,
        "properties": {
          "writes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteEntry"
            }
          }
        }
      },
      "SyncReadOperationRequest": {
        "type": "object",
        "required": [
          "op",
          "path"
        ],
        "additionalProperties": false,
        "properties": {
          "op": {
            "type": "string",
            "const": "read"
          },
          "path": {
            "type": "string"
          }
        }
      },
      "SyncWriteOperationRequest": {
        "type": "object",
        "required": [
          "op",
          "writes"
        ],
        "additionalProperties": false,
        "properties": {
          "op": {
            "type": "string",
            "const": "write"
          },
          "writes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteEntry"
            }
          }
        }
      },
      "SyncWriteEntry": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWrite"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequest"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteCommit"
          }
        ]
      },
      "SyncChunkWrite": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id",
          "content",
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteRequest": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned": {
            "type": "boolean"
          },
          "is_secret": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "SyncPresignedWriteCommit": {
        "type": "object",
        "required": [
          "path",
          "size",
          "upload_id"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "upload_id": {
            "type": "string"
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SyncReadResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncReadInlineResponse"
          },
          {
            "$ref": "#/components/schemas/SyncReadPresignedResponse"
          }
        ]
      },
      "SyncReadInlineResponse": {
        "type": "object",
        "required": [
          "ok",
          "op",
          "path",
          "size",
          "content",
          "encoding"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "op": {
            "type": "string",
            "const": "read"
          },
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "content": {
            "type": "string"
          },
          "encoding": {
            "type": "string"
          }
        }
      },
      "SyncReadPresignedResponse": {
        "type": "object",
        "required": [
          "ok",
          "op",
          "path",
          "size",
          "presigned_url",
          "expires_in",
          "method"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "op": {
            "type": "string",
            "const": "read"
          },
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          }
        }
      },
      "SyncWriteResponse": {
        "type": "object",
        "required": [
          "ok",
          "op",
          "results"
        ],
        "additionalProperties": false,
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "op": {
            "type": "string",
            "const": "write"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncWriteResult"
            }
          }
        }
      },
      "SyncWriteResult": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SyncChunkWriteResult"
          },
          {
            "$ref": "#/components/schemas/SyncPresignedWriteRequestResult"
          },
          {
            "$ref": "#/components/schemas/SyncCommitWriteResult"
          }
        ]
      },
      "SyncChunkWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "received_bytes",
          "ranges",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "received_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "ranges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncByteRange"
            }
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncPresignedWriteRequestResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "presigned_url",
          "upload_id",
          "expires_in",
          "method",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "presigned_url": {
            "type": "string"
          },
          "upload_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0
          },
          "method": {
            "type": "string"
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncCommitWriteResult": {
        "type": "object",
        "required": [
          "path",
          "size",
          "complete",
          "written"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          },
          "complete": {
            "type": "boolean"
          },
          "written": {
            "type": "boolean"
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SyncEntryError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SyncByteRange": {
        "type": "object",
        "required": [
          "start",
          "end"
        ],
        "additionalProperties": false,
        "properties": {
          "start": {
            "type": "integer",
            "minimum": 0
          },
          "end": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "SyncEntryError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Filesystem": {
        "type": "object",
        "required": [
          "filesystem_id",
          "name",
          "owner_org_id",
          "created_at"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystem_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "owner_org_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "default": "us-west-2"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws",
              null
            ],
            "default": "aws"
          }
        }
      },
      "ListFilesystemsResponse": {
        "type": "object",
        "required": [
          "filesystems"
        ],
        "additionalProperties": false,
        "properties": {
          "filesystems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filesystem"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "DeleteFilesystemResponse": {
        "type": "object",
        "required": [
          "deleted"
        ],
        "additionalProperties": false,
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "FilesystemCreateRequest": {
[...]
